# GG E3 Project

* ist100071 Ricardo Silva (33%)
  
* ist99892 Andre Godinho (33%)
  
* ist96147 Alice Gamboa (33%)

Prof. Alessandro Gianola

Lab Shift number: PB03

## PART I – Creating Views for a Dashboard

#### 1. The Relational Model

The following relational model is a database schema for the information system of a dental clinic, modeled in Part 2 of the project.

##### Relational Model

client(<u>VAT</u>, name, birth_date, street, city, zip, gender)

phone_number_client(<u>VAT, phone</u>)
> VAT: FK(client)

employee(<u>VAT</u>, name, birth_date, street, city, zip, IBAN, salary)
> IC: All employees are either receptionists, nurses or doctors  
> IC: IBAN is a candidate key  
> IC: Salary is a positive number

phone_number_employee(<u>VAT, phone<u/>)
> VAT: FK(employee)

receptionist(<u>VAT</u>)
> VAT: FK(employee)

nurse(<u>VAT</u>)
> VAT: FK(employee)

doctor(<u>VAT</u>, specialization, biography, email)
> VAT: FK(employee)  
> IC: All doctors are either trainees or permanent  
> IC: Email is a candidate key

permanent_doctor(<u>VAT</u>, years)
> VAT: FK(doctor)

trainee_doctor(<u>VAT</u>, supervisor)
> VAT: FK(doctor)  
> supervisor: FK(permanent_doctor)

supervision_report(<u>VAT, date_timestamp</u>, description, evaluation)
> VAT: FK(trainee_doctor)  
> IC: evaluation is a number in the range from 1 to 5

appointment(<u>VAT_doctor, date_timestamp</u>, VAT_client, description)
> VAT_doctor: FK(doctor)  
> VAT_client: FK(client)

consultation(<u>VAT_doctor, date_timestamp</u>, SOAP_S, SOAP_O, SOAP_A, SOAP_P)
> VAT_doctor, date_timestamp: FK(appointment)  
> IC: Consultations are always assigned to at least one assistant nurse

consultation_assistant(<u>VAT_doctor, date_timestamp</u>, VAT_nurse)
> VAT_doctor, date_timestamp: FK(consultation)  
> VAT_nurse: FK(nurse)

diagnostic_code(<u>ID</u>, description)

diagnostic_code_relation(<u>ID1, ID2</u>, type)
> ID1: FK(diagnostic_code)  
> ID2: FK(diagnostic_code)

consultation_diagnostic(<u>VAT_doctor, date_timestamp</u>, ID)
> VAT_doctor, date_timestamp: FK(consultation)  
> ID: FK(diagnostic_code)

medication(<u>name, lab</u>)

prescription(<u>VAT_doctor, date_timestamp, ID, name, lab</u>, dosage, description)
> VAT_doctor, date_timestamp, ID: FK(consultation_diagnostic)  
> name, lab: FK(medication)

procedure(<u>name</u>, type)

procedure_in_consultation(<u>name, VAT_doctor, date_timestamp</u>, description)
> name: FK(procedure)  
> VAT_doctor, date_timestamp: FK(consultation)

teeth(<u>quadrant, number</u>, name)

procedure_charting(<u>name, VAT_doctor, date_timestamp, quadrant, number</u>, desc, measure)
> name, VAT_doctor, date_timestamp: FK(procedure_in_consultation)  
> quadrant, number: FK(teeth)

procedure_imaging(<u>name, VAT_doctor, date_timestamp, file</u>)
> name, VAT_doctor, date_timestamp: FK(procedure_in_consultation)

In [1]:
%load_ext sql
%sql postgresql+psycopg://clinic:clinic@postgres/clinic

There's a new jupysql version available (0.10.7), you're running 0.10.1. To upgrade: pip install jupysql --upgrade
Deploy AI and data apps for free on Ploomber Cloud! Learn more: https://docs.cloud.ploomber.io/en/latest/quickstart/signup.html

In [2]:
%config SqlMagic.displaylimit = 30

In [3]:
%%sql

SELECT * FROM appointment

Running query in 'postgresql+psycopg://clinic:***@postgres/clinic'

115 rows affected.

+------------+---------------------+------------+-------------------------------+
| vat_doctor |    date_timestamp   | vat_client |          description          |
+------------+---------------------+------------+-------------------------------+
| 876543213  | 2019-06-10 11:00:00 | 923456789  |   Oral surgery consultation   |
| 876543212  | 2019-06-20 15:00:00 | 823456789  |      Orthodontic check-up     |
| 983654320  | 2022-11-01 14:00:00 | 223456789  |    Routine dental check-up    |
| 987654320  | 2023-01-10 10:00:00 | 123456789  |    Routine dental check-up    |
| 987654320  | 2023-01-11 11:00:00 | 123456789  |  Pain management consultation |
| 987654320  | 2023-01-12 09:30:00 | 223456789  |    Regular dental check-up    |
| 987654320  | 2023-01-12 12:00:00 | 123456789  |   Follow-up dental check-up   |
| 987654320  | 2023-01-15 10:00:00 | 323456789  |    Regular dental check-up    |
| 987654320  | 2023-01-16 11:00:00 | 423456789  |        Dental check-up        |
| 987654320  | 2023-01-17 12:00:00 | 523456789  |        Dental check-up        |
| 876543212  | 2023-01-20 14:30:00 | 323456789  |        Cavity check-up        |
| 876543213  | 2023-01-21 16:00:00 | 423456789  |       Infection check-up      |
| 987654320  | 2019-01-02 15:00:00 | 123456789  |    Routine dental check-up    |
| 987654320  | 2019-01-04 15:00:00 | 983654320  |        Dental cleaning        |
| 987654320  | 2019-01-06 15:00:00 | 223456789  |      Cavity consultation      |
| 987654320  | 2019-01-08 15:00:00 | 323456789  | Tooth extraction consultation |
| 987654320  | 2019-01-10 15:00:00 | 423456789  |    Routine dental check-up    |
| 987654320  | 2019-01-12 15:00:00 | 523456789  |        Dental cleaning        |
| 987654320  | 2019-01-14 15:00:00 | 823456789  |         Cavity filling        |
| 987654320  | 2019-01-16 15:00:00 | 923456789  |  Teeth whitening consultation |
| 987654320  | 2019-01-18 15:00:00 | 123456789  |  Dental implant consultation  |
| 987654320  | 2019-01-20 15:00:00 | 983654320  |    Routine dental check-up    |
| 987654320  | 2019-02-02 15:00:00 | 123456789  |    Routine dental check-up    |
| 987654320  | 2019-02-04 15:00:00 | 983654320  |        Dental cleaning        |
| 987654320  | 2019-02-06 15:00:00 | 223456789  |      Cavity consultation      |
| 987654320  | 2019-02-08 15:00:00 | 323456789  | Tooth extraction consultation |
| 987654320  | 2019-02-10 15:00:00 | 423456789  |    Routine dental check-up    |
| 987654320  | 2019-02-12 15:00:00 | 523456789  |        Dental cleaning        |
| 987654320  | 2019-02-14 15:00:00 | 823456789  |         Cavity filling        |
| 987654320  | 2019-02-16 15:00:00 | 923456789  |  Teeth whitening consultation |
+------------+---------------------+------------+-------------------------------+
Truncated to displaylimit of 30.

Closing postgresql+psycopg://clinic:***@postgres/clinic

#### 1. SQL Views

In [26]:
%%sql

DROP VIEW IF EXISTS facts_consultation;
DROP VIEW IF EXISTS dim_date;
DROP VIEW IF EXISTS dim_client;
DROP VIEW IF EXISTS dim_location;

CREATE VIEW dim_date(date, day_, month_, year_)
AS 
SELECT date_timestamp, EXTRACT(day FROM date_timestamp), EXTRACT(month FROM date_timestamp), EXTRACT(year FROM date_timestamp)
FROM consultation;

CREATE VIEW dim_client(VAT, gender, age)
AS 
SELECT VAT_ID AS VAT, gender, EXTRACT(YEAR FROM AGE(CURRENT_DATE, birth_date)) AS age
FROM client;

CREATE VIEW dim_location(zip, city)
AS 
SELECT zip_code AS zip, city
FROM client;

CREATE VIEW facts_consultation(VAT, date, zip)
AS 
SELECT dc.VAT AS VAT, dd.date AS date, dl.zip AS zip
FROM consultation c
JOIN appointment a ON c.VAT_doctor = a.VAT_doctor and c.date_timestamp = a.date_timestamp
JOIN dim_client dc ON a.VAT_client = dc.VAT
JOIN dim_date dd ON c.date_timestamp = dd.date
JOIN client cl ON cl.VAT_ID = dc.VAT
JOIN dim_location dl ON cl.zip_code = dl.zip ;

SELECT * FROM facts_consultation;

Running query in 'postgresql+psycopg://clinic1:***@postgres/clinic1'

13 rows affected.

+-----------+---------------------+----------+
|    vat    |         date        |   zip    |
+-----------+---------------------+----------+
| 923456789 | 2019-06-10 11:00:00 | 3500-000 |
| 823456789 | 2019-06-20 15:00:00 | 9000-000 |
| 223456789 | 2022-11-01 14:00:00 | 2710-000 |
| 123456789 | 2023-01-10 10:00:00 | 1000-000 |
| 123456789 | 2023-01-11 11:00:00 | 1000-000 |
| 223456789 | 2023-01-12 09:30:00 | 2710-000 |
| 123456789 | 2023-01-12 12:00:00 | 1000-000 |
| 323456789 | 2023-01-15 10:00:00 | 2780-000 |
| 323456789 | 2023-01-20 14:30:00 | 2780-000 |
| 423456789 | 2023-01-21 16:00:00 | 3000-000 |
| 624456789 | 2019-11-08 15:00:00 | 4800-000 |
| 724456789 | 2019-11-10 15:00:00 | 2000-000 |
| 824456789 | 2019-11-20 15:00:00 | 5300-000 |
+-----------+---------------------+----------+

## PART II – SQL

#### 1. SQL Queries

Write SQL queries for each of the following information needs:

1. List the VAT, name, and phone number(s) for all clients that had consultations with the doctor named Jane Sweettooth. The list should be presented according to the alphabetical order for the names.

In [ ]:
%%sql

SELECT c.VAT_ID, c.name, pc.phone
FROM client c
JOIN phone_number_client pc ON c.VAT_ID = pc.VAT_ID
JOIN appointment a ON c.VAT_ID = a.VAT_client
JOIN consultation co ON a.VAT_doctor = co.VAT_doctor AND a.date_timestamp = co.date_timestamp
JOIN employee e ON co.VAT_doctor = e.VAT_ID
WHERE e.name = 'Jane Sweettooth'
ORDER BY c.name;

2. List the name of all trainee doctors with reports associated to an evaluation score below the value of three, or with a description that contains the term insufficient. The name should be presented together with the VAT of the trainee, the name for the doctor that made the evaluation, the evaluation score, and the textual description for the evaluation report. Results should be sorted according to the evaluation score, in descending order.

In [ ]:
%%sql

SELECT DISTINCT t.name AS trainee_name, td.VAT_ID AS trainee_VAT, p.name AS supervisor_name, sr.evaluation AS evaluation_score, sr.description AS report_description
FROM trainee_doctor AS td
JOIN supervision_report AS sr ON td.VAT_ID = sr.VAT_ID
JOIN permanent_doctor AS pd ON td.supervisor = pd.VAT_ID
JOIN employee AS t ON td.VAT_ID = t.VAT_ID
JOIN employee AS p ON p.VAT_ID = td.supervisor
WHERE sr.evaluation < 3 OR LOWER(sr.description) LIKE '%insufficient%'
ORDER BY sr.evaluation DESC;

3. List the name, city, and VAT for all clients where the most recent consultation has the objective part of the SOAP note mentioning the terms gingivitis or periodontitis.

In [ ]:
%%sql

SELECT DISTINCT c.name, c.city, c.VAT_ID
FROM client AS c
JOIN appointment AS ap ON c.VAT_ID = ap.VAT_client
JOIN consultation AS co ON ap.VAT_doctor = co.VAT_doctor AND ap.date_timestamp = co.date_timestamp
WHERE co.date_timestamp = (
    SELECT MAX(date_timestamp)
    FROM consultation AS co
    WHERE co.VAT_doctor = ap.VAT_doctor
    )
AND LOWER(co.SOAP_O ) LIKE '%gingivitis%' OR LOWER(co.SOAP_O ) LIKE '%periodontitis%'

4. List the name, VAT and address (i.e., street, city and zip) of all clients of the clinic that have had appointments but that never had a consultation (i.e., clients that never showed to an appointment).

In [ ]:
%%sql

SELECT DISTINCT c.name, c.VAT_ID, c.street, c.city, c.zip_code
FROM client AS c
JOIN appointment AS ap ON c.VAT_ID = ap.VAT_client
LEFT JOIN consultation AS co ON ap.VAT_doctor = co.VAT_doctor AND ap.date_timestamp = co.date_timestamp
WHERE co.VAT_doctor IS NULL AND co.date_timestamp IS NULL;

5. For each possible diagnosis, presenting the code together with the description, list the number of distinct medication names that have been prescribed to treat that condition. Sort the results according to the number of distinct medication names, in ascending order.

In [ ]:
%%sql

SELECT dc.ID AS diagnosis_code, dc.description AS diagnosis_description, COUNT(DISTINCT m.name) AS num_distinct_medications
FROM diagnostic_code dc
LEFT JOIN consultation_diagnostic AS cd ON dc.ID = cd.ID
LEFT JOIN prescription AS pr ON cd.VAT_doctor = pr.VAT_doctor AND cd.date_timestamp = pr.date_timestamp AND cd.ID = pr.ID
LEFT JOIN medication AS m ON pr.name = m.name AND pr.lab = m.lab
GROUP BY dc.ID, dc.description
ORDER BY num_distinct_medications ASC;

6. For each diagnostic code, present the name of the most common medication used to treat that condition (i.e., the medication name that more often appears associated to prescriptions for that diagnosis).

In [ ]:
%%sql
-- voltar a olhar para esta query

WITH MedicationCounts AS (
    SELECT cd.ID AS diagnosis_code, pr.name AS medication_name, COUNT(*) AS medication_count, ROW_NUMBER() OVER (PARTITION BY cd.ID ORDER BY COUNT(*) DESC) AS rn
    FROM diagnostic_code AS cd
    LEFT JOIN consultation_diagnostic AS cdc ON cd.ID = cdc.ID
    LEFT JOIN prescription AS pr ON cdc.VAT_doctor = pr.VAT_doctor AND cdc.date_timestamp = pr.date_timestamp AND cdc.ID = pr.ID
    GROUP BY cd.ID, pr.name
)
SELECT diagnosis_code, medication_name
FROM MedicationCounts
WHERE rn = 1;

7. List, alphabetically, the names and labs for the medications that, in the year 2019, have been used to treat “dental cavities”, but have not been used to treat any “infectious disease”. You can use the aforementioned names for searching diagnostic codes in the dataset, without considering relations (e.g., part-of relations) between diagnostic codes.

In [ ]:
%%sql

SELECT DISTINCT p.name, p.lab
FROM medication AS p
JOIN prescription AS pr ON p.name = pr.name AND p.lab = pr.lab
JOIN consultation_diagnostic AS cd ON pr.VAT_doctor = cd.VAT_doctor AND pr.date_timestamp = cd.date_timestamp AND pr.ID = cd.ID
JOIN diagnostic_code AS dc ON cd.ID = dc.ID
WHERE dc.description LIKE 'Cavity' AND EXTRACT(year FROM pr.date_timestamp) = 2019 AND 
    NOT EXISTS (SELECT 1 
                FROM consultation_diagnostic AS cd2 
                JOIN diagnostic_code AS dc2 ON cd2.ID = dc2.ID
                WHERE dc2.description LIKE 'Infection' AND pr.VAT_doctor = cd2.VAT_doctor AND pr.date_timestamp = cd2.date_timestamp AND pr.ID = cd2.ID
                    
                )
ORDER BY p.name, p.lab;

8. List the names and addresses of clients that have never missed an appointment in 2019 (i.e., the clients that, in the year 2019, have always appeared in all the consultations scheduled for them).

In [ ]:
%%sql
    
SELECT c.name, c.street, c.city, c.zip_code
FROM client AS c
WHERE NOT EXISTS (
    SELECT 1
    FROM appointment AS a
    LEFT JOIN consultation AS co ON a.VAT_doctor = co.VAT_doctor AND a.date_timestamp = co.date_timestamp
    WHERE a.VAT_client = c.VAT_ID AND EXTRACT(year FROM a.date_timestamp) = 2019 AND co.VAT_doctor IS NULL AND co.date_timestamp IS NULL
);

#### 2. SQL Updates and Deletes

Write SQL instructions for each of the following changes in the database:

1. Change the address of the doctor named Jane Sweettooth, to a different city and street of your choice.

In [ ]:
%%sql
UPDATE Employee 
SET street = 'Rua Branca 32', city = 'Lagos'
WHERE name = 'Jane Sweettooth';

2. Change the salary of all doctors that had more than 100 appointments in 2019. The new salaries should correspond to an increase in 5% from the old values.

In [ ]:
%%sql
UPDATE Employee
SET salary = salary*1.05
WHERE VAT_ID IN(
    SELECT a.VAT_doctor
    FROM Appointment a
    WHERE EXTRACT(year FROM a.date_timestamp) = 2019
    GROUP BY a.VAT_doctor
    HAVING COUNT(*)>100
);

3. Delete the doctor named Jane Sweettooth from the database, removing also all the appointments and all the consultations (including the associated procedures, diagnosis and prescriptions) in which she was involved. Notice that if there are procedures/diagnosis that were only performed/assigned by this doctor, you should remove them also from the database.

In [ ]:
%%sql
DROP FUNCTION IF EXISTS doctor_vat_id;
CREATE OR REPLACE FUNCTION doctor_vat_id(doctor_name VARCHAR(80))
RETURNS VARCHAR(20) AS
$$
DECLARE
    doctor_id VARCHAR(20);
BEGIN
    SELECT VAT_ID INTO doctor_id
    FROM employee
    WHERE name LIKE doctor_name;
    RETURN doctor_id;
END;
$$ LANGUAGE plpgsql;

DELETE FROM supervision_report WHERE VAT_ID = (SELECT VAT_ID FROM trainee_doctor WHERE supervisor = doctor_vat_id('Jane Sweettooth'));
DELETE FROM supervision_report WHERE VAT_ID = doctor_vat_id('Jane Sweettooth');
DELETE FROM trainee_doctor WHERE VAT_ID = doctor_vat_id('Jane Sweettooth');
DELETE FROM trainee_doctor WHERE supervisor = doctor_vat_id('Jane Sweettooth');
DELETE FROM permanent_doctor WHERE VAT_ID = doctor_vat_id('Jane Sweettooth');

DELETE FROM prescription WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');
DELETE FROM diagnostic_code_relation WHERE NOT EXISTS (SELECT 1 FROM consultation_diagnostic cd WHERE cd.ID = diagnostic_code_relation.ID1 AND cd.VAT_doctor <> doctor_vat_id('Jane Sweettooth'));
DELETE FROM diagnostic_code_relation WHERE NOT EXISTS (SELECT 1 FROM consultation_diagnostic cd WHERE cd.ID = diagnostic_code_relation.ID2 AND cd.VAT_doctor <> doctor_vat_id('Jane Sweettooth'));
DELETE FROM consultation_diagnostic WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');
DELETE FROM diagnostic_code WHERE NOT EXISTS (SELECT 1 FROM consultation_diagnostic cd WHERE cd.ID = diagnostic_code.ID AND cd.VAT_doctor <> doctor_vat_id('Jane Sweettooth'));
DELETE FROM procedure_charting WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');
DELETE FROM procedure_imaging WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');

DELETE FROM procedure_in_consultation WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');
DELETE FROM procedure_ WHERE NOT EXISTS (SELECT 1 FROM procedure_in_consultation pic WHERE pic.name = procedure_.name AND pic.VAT_doctor <> doctor_vat_id('Jane Sweettooth'));
DELETE FROM consultation WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth'); 
DELETE FROM consultation_assistant WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');

DELETE FROM phone_number_employee WHERE VAT_ID = doctor_vat_id('Jane Sweettooth'); 
DELETE FROM appointment WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');
DELETE FROM doctor WHERE VAT_ID = doctor_vat_id('Jane Sweettooth');
DELETE FROM employee WHERE VAT_ID = doctor_vat_id('Jane Sweettooth');

4. Find the diagnosis code corresponding to gingivitis. Create also a new diagnosis code corresponding to periodontitis. Change the diagnosis from gingivitis to periodontitis for all clients where, for the same consultation/diagnosis, a dental charting procedure shows a value above 4 in terms of the average gap between the teeth and the gums.

In [ ]:
%%sql
INSERT INTO diagnostic_code VALUES (6, 'Periodontitis');
UPDATE consultation_diagnostic cd
SET ID = (SELECT ID FROM diagnostic_code WHERE LOWER(description) LIKE 'periodontitis') 
WHERE ID = (SELECT ID FROM diagnostic_code WHERE LOWER(description) LIKE 'gingivitis'
                                        AND EXISTS (SELECT 1 FROM procedure_charting PC WHERE cd.VAT_doctor = pc.VAT_doctor AND cd.date_timestamp = pc.date_timestamp AND pc.measure > 4.0));

SELECT ID FROM diagnostic_code WHERE LOWER(description) LIKE 'gingivitis';

## PART III - Functions, Stored Procedures, and Triggers

#### 1. Functions and Stored Procedures

Provide the SQL instructions corresponding to each of the aforementioned tasks:

1. Write a function to compute the total number of no-shows (i.e., appointments where the client missed the consult) for clients of a given gender, within a given age group, and within a given year (i.e., the gender, year, and upper/lower limits for the age should all be provided as parameters).

In [ ]:
%%sql

DROP FUNCTION IF EXISTS total_no_shows;
    
CREATE OR REPLACE FUNCTION total_no_shows(input_gender CHAR(1), input_year INTEGER, age_lower_limit INTEGER, age_upper_limit INTEGER)
RETURNS INTEGER AS
$$
DECLARE 
    count_no_shows INTEGER;
    start_year DATE;
    end_year DATE;
BEGIN
    start_year := MAKE_DATE(input_year, 1, 1);
    end_year := MAKE_DATE(input_year + 1, 1, 1);    

    SELECT COUNT(*) INTO count_no_shows
    FROM appointment a
    JOIN client c ON a.VAT_client = c.VAT_ID
    WHERE c.gender = input_gender
        AND EXTRACT(year FROM AGE(a.date_timestamp, c.birth_date)) BETWEEN age_lower_limit AND age_upper_limit
        AND a.date_timestamp >= start_year AND a.date_timestamp < end_year
        AND NOT EXISTS (
            SELECT 1
            FROM consultation co
            WHERE co.VAT_doctor = a.VAT_doctor AND co.date_timestamp = a.date_timestamp
        );
    RETURN count_no_shows;
END;
$$ LANGUAGE plpgsql;

2. Write a stored procedure to change the salary of all doctors that have been practicing for more than x years, where x is an input parameter. The new salary should correspond to a raise of 10 percent over the original salary, in the case of doctors with more than 100 consults in the current year, and to a raise of 5 percent otherwise.

In [ ]:
%%sql

CREATE OR REPLACE PROCEDURE update_doctor_salaries(years_of_practice_threshold INT)
LANGUAGE plpgsql
AS $$
DECLARE
    current_year INT;
    doctor_id VARCHAR(20);
    new_salary NUMERIC;
    total_consults INT;
BEGIN
    current_year := EXTRACT(year FROM CURRENT_DATE);

    FOR doctor_id, new_salary IN
        SELECT 
            d.VAT_ID, 
            CASE 
                WHEN COUNT(a.*) > 100 THEN e.salary * 1.10
                ELSE e.salary * 1.05
            END
        FROM doctor d
        JOIN permanent_doctor pd ON d.VAT_ID = pd.VAT_ID
        JOIN employee e ON d.VAT_ID = e.VAT_ID
        LEFT JOIN appointment a ON d.VAT_ID = a.VAT_doctor AND EXTRACT(year FROM a.date_timestamp) = current_year
        WHERE current_year - EXTRACT(year FROM pd.years) > years_of_practice_threshold
        GROUP BY d.VAT_ID, e.salary
    LOOP
        UPDATE employee
        SET salary = new_salary
        WHERE VAT_ID = doctor_id;
    END LOOP;
END;
$$;

#### 2. Triggers

Provide the SQL instructions corresponding to each of the aforementioned tasks:

1. Write triggers to ensure that (a) an individual that is a receptionist or a nurse at the clinic cannot simultaneously be a doctor, and (b) doctors cannot simultaneously be trainees and permanent staff.

In [8]:
%%sql
    
DROP TRIGGER IF EXISTS rec_employ_trigger ON receptionist;
DROP TRIGGER IF EXISTS nurse_employ_trigger ON nurse;
DROP FUNCTION IF EXISTS chk_empl_not_doc_proc;

CREATE OR REPLACE FUNCTION chk_empl_not_doc_proc()
RETURNS TRIGGER AS 
$$
BEGIN
  IF (
    NEW.VAT_ID IN (SELECT VAT_ID FROM doctor)) THEN
    RAISE EXCEPTION 'Receptionist/Nurse cannot simultaneously be a Doctor';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS doc_employ_trigger ON doctor;
DROP FUNCTION IF EXISTS chk_doc_not_rec_nurse_proc;

CREATE OR REPLACE FUNCTION chk_doc_not_rec_nurse_proc()
RETURNS TRIGGER AS 
$$
BEGIN
  IF (
    NEW.VAT_ID IN (SELECT VAT_ID FROM nurse
    UNION
    SELECT VAT_ID FROM receptionist)) THEN
    RAISE EXCEPTION 'Doctor cannot be simultaneously a Receptionist or Nurse';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER rec_employ_trigger
BEFORE UPDATE OR INSERT ON receptionist
FOR EACH ROW EXECUTE PROCEDURE chk_empl_not_doc_proc();

CREATE TRIGGER nurse_employ_trigger
BEFORE UPDATE OR INSERT ON nurse
FOR EACH ROW EXECUTE PROCEDURE chk_empl_not_doc_proc();

CREATE TRIGGER doc_employ_trigger
BEFORE UPDATE OR INSERT ON doctor
FOR EACH ROW EXECUTE PROCEDURE chk_doc_not_rec_nurse_proc();

DROP TRIGGER IF EXISTS doctor_perma_trigger ON permanent_doctor;
DROP TRIGGER IF EXISTS doctor_trainee_trigger ON trainee_doctor; 
DROP FUNCTION IF EXISTS chk_doctor_trainee_proc;
DROP FUNCTION IF EXISTS chk_doctor_perma_proc;

CREATE OR REPLACE FUNCTION chk_doctor_trainee_proc()
RETURNS TRIGGER AS 
$$
BEGIN
  IF (
    NEW.VAT_ID IN (SELECT VAT_ID FROM permanent_doctor)
  ) THEN
    RAISE EXCEPTION 'Doctor cannot be simultaneously trainee and permanent';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE FUNCTION chk_doctor_perma_proc()
RETURNS TRIGGER AS 
$$
BEGIN
  IF (
    NEW.VAT_ID IN (SELECT VAT_ID FROM trainee_doctor)
  ) THEN
    RAISE EXCEPTION 'Doctor cannot be simultaneously trainee and permanent';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER doctor_perma_trigger
BEFORE UPDATE OR INSERT ON permanent_doctor
FOR EACH ROW EXECUTE PROCEDURE chk_doctor_perma_proc();

CREATE TRIGGER doctor_trainee_trigger
BEFORE UPDATE OR INSERT ON trainee_doctor
FOR EACH ROW EXECUTE PROCEDURE chk_doctor_trainee_proc();

Running query in 'postgresql+psycopg://clinic1:***@postgres/clinic1'

++
||
++
++

2. Write triggers to ensure that different individuals (doctors or clients) cannot have the same phone number.

In [ ]:
%%sql
DROP TRIGGER IF EXISTS phone_number_trigger ON phone_number_client;
DROP TRIGGER IF EXISTS phone_number_trigger ON phone_number_employee;
DROP FUNCTION IF EXISTS chk_phone_number_proc;

CREATE OR REPLACE FUNCTION chk_phone_number_proc()
RETURNS TRIGGER AS 
$$
BEGIN
    IF EXISTS (
      SELECT 1
      FROM (
        SELECT VAT_ID, phone FROM phone_number_client
        UNION
        SELECT VAT_ID, phone FROM phone_number_employee
        WHERE VAT_ID IN (SELECT VAT_ID FROM doctor)
        ) AS all_phone_numbers
           WHERE all_phone_numbers.phone = NEW.phone AND all_phone_numbers.VAT_ID <> NEW.VAT_ID
      ) THEN
        RAISE EXCEPTION 'Phone number % already exists for a different individual', NEW.phone;
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER phone_number_trigger
BEFORE UPDATE OR INSERT ON phone_number_client
FOR EACH ROW EXECUTE PROCEDURE chk_phone_number_proc();

CREATE TRIGGER phone_number_trigger
BEFORE UPDATE OR INSERT ON phone_number_employee
FOR EACH ROW EXECUTE PROCEDURE chk_phone_number_proc();