# GG E2 Project

* ist100071 Ricardo Silva (33%)
  
* ist99892 Andre Godinho (33%)
  
* ist96147 Alice Gamboa (33%)

Prof. Alessandro Gianola

Lab Shift number: PB03

## PART I – Database Schema

#### 1. The Relational Model

The following relational model is a database schema for the information system of a dental clinic, inspired by what you modeled in Part 1 of the project.

##### Relational Model

client(<u>VAT</u>, name, birth_date, street, city, zip, gender)

phone_number_client(<u>VAT, phone</u>)
> VAT: FK(client)

employee(<u>VAT</u>, name, birth_date, street, city, zip, IBAN, salary)
> IC: All employees are either receptionists, nurses or doctors  
> IC: IBAN is a candidate key  
> IC: Salary is a positive number

phone_number_employee(<u>VAT, phone<u/>)
> VAT: FK(employee)

receptionist(<u>VAT</u>)
> VAT: FK(employee)

nurse(<u>VAT</u>)
> VAT: FK(employee)

doctor(<u>VAT</u>, specialization, biography, email)
> VAT: FK(employee)  
> IC: All doctors are either trainees or permanent  
> IC: Email is a candidate key

permanent_doctor(<u>VAT</u>, years)
> VAT: FK(doctor)

trainee_doctor(<u>VAT</u>, supervisor)
> VAT: FK(doctor)  
> supervisor: FK(permanent_doctor)

supervision_report(<u>VAT, date_timestamp</u>, description, evaluation)
> VAT: FK(trainee_doctor)  
> IC: evaluation is a number in the range from 1 to 5

appointment(<u>VAT_doctor, date_timestamp</u>, VAT_client, description)
> VAT_doctor: FK(doctor)  
> VAT_client: FK(client)

consultation(<u>VAT_doctor, date_timestamp</u>, SOAP_S, SOAP_O, SOAP_A, SOAP_P)
> VAT_doctor, date_timestamp: FK(appointment)  
> IC: Consultations are always assigned to at least one assistant nurse

consultation_assistant(<u>VAT_doctor, date_timestamp</u>, VAT_nurse)
> VAT_doctor, date_timestamp: FK(consultation)  
> VAT_nurse: FK(nurse)

diagnostic_code(<u>ID</u>, description)

diagnostic_code_relation(<u>ID1, ID2</u>, type)
> ID1: FK(diagnostic_code)  
> ID2: FK(diagnostic_code)

consultation_diagnostic(<u>VAT_doctor, date_timestamp</u>, ID)
> VAT_doctor, date_timestamp: FK(consultation)  
> ID: FK(diagnostic_code)

medication(<u>name, lab</u>)

prescription(<u>VAT_doctor, date_timestamp, ID, name, lab</u>, dosage, description)
> VAT_doctor, date_timestamp, ID: FK(consultation_diagnostic)  
> name, lab: FK(medication)

procedure(<u>name</u>, type)

procedure_in_consultation(<u>name, VAT_doctor, date_timestamp</u>, description)
> name: FK(procedure)  
> VAT_doctor, date_timestamp: FK(consultation)

teeth(<u>quadrant, number</u>, name)

procedure_charting(<u>name, VAT_doctor, date_timestamp, quadrant, number</u>, desc, measure)
> name, VAT_doctor, date_timestamp: FK(procedure_in_consultation)  
> quadrant, number: FK(teeth)

procedure_imaging(<u>name, VAT_doctor, date_timestamp, file</u>)
> name, VAT_doctor, date_timestamp: FK(procedure_in_consultation)

#### 2. The Database Schema

For the relational model above, write the SQL instructions to create the database in the PostgreSQL database server. You should choose the most appropriate SQL data types for each column.

You can create the database `db` in Postgres using the instructions in Lab 01.

In [69]:
%load_ext sql
%sql postgresql+psycopg://clinic:clinic@postgres/clinic

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection postgresql+psycopg://clinic:clinic@postgres/clinic

In [95]:
%%sql
SELECT ap.vat_doctor AS vat_doctor, ap.date_timestamp AS date_timestamp, ap.description AS description,
       ca.vat_nurse AS nurse_id, co.SOAP_S AS soap_s, co.SOAP_O AS soap_o, co.SOAP_A AS soap_a, co.SOAP_P AS soap_p,
       pr.id AS diag_id, d.description AS diag_desc, pr.name AS med_name, pr.lab AS lab, pr.dosage AS dosage, pr.description AS pr_description
FROM client AS c
     JOIN appointment AS ap ON c.vat_id = ap.vat_client
LEFT JOIN consultation AS co ON ap.vat_doctor = co.vat_doctor AND ap.date_timestamp = co.date_timestamp
LEFT JOIN consultation_assistant AS ca ON ap.vat_doctor = ca.vat_doctor AND ap.date_timestamp = ca.date_timestamp
LEFT JOIN consultation_diagnostic AS cd ON ap.vat_doctor = cd.vat_doctor AND ap.date_timestamp = cd.date_timestamp
LEFT JOIN prescription AS pr ON pr.vat_doctor = cd.vat_doctor AND pr.date_timestamp = cd.date_timestamp AND pr.id = cd.id
LEFT JOIN diagnostic_code AS d ON pr.id = d.id
WHERE ap.vat_client = '983654320' AND ap.date_timestamp = '2019-01-04 15:00:00' AND ap.vat_doctor = '987654320';

Running query in 'postgresql+psycopg://clinic:***@postgres/clinic'

1 rows affected.

+------------+---------------------+-----------------+-----------+--------+---------+-----------+-----------+---------+-----------+-------------+--------+--------+----------------+
| vat_doctor |    date_timestamp   |   description   |  nurse_id | soap_s |  soap_o |   soap_a  |   soap_p  | diag_id | diag_desc |   med_name  |  lab   | dosage | pr_description |
+------------+---------------------+-----------------+-----------+--------+---------+-----------+-----------+---------+-----------+-------------+--------+--------+----------------+
| 987654320  | 2019-01-04 15:00:00 | Dental cleaning | 987654319 |  adad  | adadasd | asdasdsad | sadsadasd |    1    |   Cavity  | Amoxicillin | MedLab | dadasd |    sdsadsad    |
+------------+---------------------+-----------------+-----------+--------+---------+-----------+-----------+---------+-----------+-------------+--------+--------+----------------+

In [89]:
%%sql
INSERT INTO prescription VALUES('987654320', '2023-01-10 10:00:00', 1, 'Ibuprofen', 'PainAwayLab', '500mg', 'Take one tablet every 10 hours');

Running query in 'postgresql+psycopg://clinic:***@postgres/clinic'

1 rows affected.

++
||
++
++

In [6]:
%%sql

SELECT ap.vat_doctor AS vat_doctor, ap.date_timestamp AS date_timestamp, ap.description AS description,
       ca.vat_nurse AS nurse_id, co.SOAP_S AS soap_s, co.SOAP_O AS soap_o, co.SOAP_A AS soap_a, co.SOAP_P AS soap_p
FROM client AS c
JOIN appointment AS ap ON c.vat_id = ap.vat_client
LEFT JOIN consultation AS co ON ap.vat_doctor = co.vat_doctor AND ap.date_timestamp = co.date_timestamp
LEFT JOIN consultation_assistant AS ca ON ap.vat_doctor = ca.vat_doctor AND ap.date_timestamp = ca.date_timestamp
WHERE ap.vat_client = '123456789' AND ap.date_timestamp = '2019-01-02 15:00:00';

Running query in 'postgresql+psycopg://clinic:***@postgres/clinic'

1 rows affected.

+------------+---------------------+-------------------------+----------+--------+--------+--------+--------+
| vat_doctor |    date_timestamp   |       description       | nurse_id | soap_s | soap_o | soap_a | soap_p |
+------------+---------------------+-------------------------+----------+--------+--------+--------+--------+
| 987654320  | 2019-01-02 15:00:00 | Routine dental check-up |   None   |  None  |  None  |  None  |  None  |
+------------+---------------------+-------------------------+----------+--------+--------+--------+--------+

In [71]:
%%sql
DROP TABLE IF EXISTS client CASCADE;
DROP TABLE IF EXISTS phone_number_client CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS phone_number_employee CASCADE;
DROP TABLE IF EXISTS receptionist CASCADE;
DROP TABLE IF EXISTS nurse CASCADE;
DROP TABLE IF EXISTS doctor CASCADE;
DROP TABLE IF EXISTS permanent_doctor CASCADE;
DROP TABLE IF EXISTS trainee_doctor CASCADE;
DROP TABLE IF EXISTS supervision_report CASCADE;
DROP TABLE IF EXISTS appointment CASCADE;
DROP TABLE IF EXISTS consultation CASCADE;
DROP TABLE IF EXISTS consultation_assistant CASCADE;
DROP TABLE IF EXISTS diagnostic_code CASCADE;
DROP TABLE IF EXISTS diagnostic_code_relation CASCADE;
DROP TABLE IF EXISTS consultation_diagnostic CASCADE;
DROP TABLE IF EXISTS medication CASCADE;
DROP TABLE IF EXISTS prescription CASCADE;
DROP TABLE IF EXISTS procedure_ CASCADE;
DROP TABLE IF EXISTS procedure_in_consultation CASCADE;
DROP TABLE IF EXISTS teeth CASCADE;
DROP TABLE IF EXISTS procedure_charting CASCADE;
DROP TABLE IF EXISTS procedure_imaging CASCADE;

CREATE TABLE client (
  VAT_ID VARCHAR(20),
  name VARCHAR(80),
  birth_date DATE,
  street VARCHAR(255),
  city VARCHAR(30),
  zip_code VARCHAR(12),
  gender CHAR(1),
  PRIMARY KEY (VAT_ID),
  CHECK (gender in ('M', 'F')) 
);

CREATE TABLE phone_number_client (
  VAT_ID VARCHAR(20),
  phone VARCHAR(15),
  PRIMARY KEY (VAT_ID, phone),
  FOREIGN KEY(VAT_ID) REFERENCES client(VAT_ID)
);

CREATE TABLE employee (
  VAT_ID VARCHAR(20),
  name VARCHAR(80),
  birth_date DATE,
  street VARCHAR(255),
  city VARCHAR(30),
  zip_code VARCHAR(12),
  IBAN VARCHAR(30) NOT NULL,
  salary NUMERIC(12,4),
  UNIQUE(IBAN),
  PRIMARY KEY (VAT_ID),
  CHECK (salary > 0)

  -- Every employee must exist either in the table 'receptionist' or in the table 'nurse' or in the table 'doctor'
  -- No employee can exist at the same time in the both the table 'receptionist' or in the table 'nurse' or in the table 'doctor'
);

CREATE TABLE phone_number_employee (
  VAT_ID VARCHAR(20),
  phone VARCHAR(15),
  PRIMARY KEY (VAT_ID, phone),
  FOREIGN KEY(VAT_ID) REFERENCES employee(VAT_ID)
);

CREATE TABLE receptionist (
  VAT_ID VARCHAR(20),
  PRIMARY KEY (VAT_ID),
  FOREIGN KEY(VAT_ID) REFERENCES employee(VAT_ID)
);

CREATE TABLE nurse (
  VAT_ID VARCHAR(20),
  PRIMARY KEY (VAT_ID),
  FOREIGN KEY(VAT_ID) REFERENCES employee(VAT_ID)
);

CREATE TABLE doctor (
  VAT_ID VARCHAR(20),
  specialization VARCHAR(254),
  biography VARCHAR(512),
  email_address VARCHAR(254) NOT NULL,
  UNIQUE(email_address),
  PRIMARY KEY (VAT_ID),
  FOREIGN KEY(VAT_ID) REFERENCES employee(VAT_ID)

  -- Every doctor must exist either in the table 'Trainee' or in the table 'Permanent'
  -- No doctor can exist at the same time in the both the table 'Trainee' or in the table 'Permanent'  
);

CREATE TABLE permanent_doctor (
  VAT_ID VARCHAR(20),
  years DATE,
  PRIMARY KEY (VAT_ID),
  FOREIGN KEY(VAT_ID) REFERENCES doctor(VAT_ID)
);

CREATE TABLE trainee_doctor (
  VAT_ID VARCHAR(20),
  supervisor VARCHAR(20) NOT NULL,
  PRIMARY KEY (VAT_ID),
  FOREIGN KEY(VAT_ID) REFERENCES doctor(VAT_ID),
  FOREIGN KEY(supervisor) REFERENCES permanent_doctor(VAT_ID)
);

CREATE TABLE supervision_report(
  VAT_ID VARCHAR(20),
  date_timestamp TIMESTAMP,
  description VARCHAR(512),
  evaluation NUMERIC(3,1),
  PRIMARY KEY(VAT_ID, date_timestamp),
  FOREIGN KEY(VAT_ID) REFERENCES trainee_doctor(VAT_ID),
  CHECK (evaluation >= 1 AND evaluation <= 5)
);

CREATE TABLE appointment (
  VAT_doctor VARCHAR(20),
  date_timestamp TIMESTAMP,
  VAT_client VARCHAR(20),
  description VARCHAR(512),
  PRIMARY KEY (VAT_doctor, date_timestamp),
  FOREIGN KEY(VAT_doctor) REFERENCES doctor(VAT_ID),
  FOREIGN KEY(VAT_client) REFERENCES client(VAT_ID)
);

CREATE TABLE consultation(
  VAT_doctor VARCHAR(20),
  date_timestamp TIMESTAMP,
  SOAP_S TEXT,  
  SOAP_O TEXT,
  SOAP_A TEXT,
  SOAP_P TEXT,
  PRIMARY KEY (VAT_doctor, date_timestamp),
  FOREIGN KEY(VAT_doctor, date_timestamp) REFERENCES appointment(VAT_doctor, date_timestamp)
    
  -- consultations are always assigned to at least one assistant nurse
);

CREATE TABLE consultation_assistant(
  VAT_doctor VARCHAR(20),
  date_timestamp TIMESTAMP,
  VAT_nurse VARCHAR(20),  
  PRIMARY KEY (VAT_doctor, date_timestamp),
  FOREIGN KEY(VAT_doctor, date_timestamp) REFERENCES appointment(VAT_doctor, date_timestamp),
  FOREIGN KEY(VAT_nurse) REFERENCES nurse(VAT_ID)
);

CREATE TABLE diagnostic_code(
  ID INTEGER,
  description VARCHAR(255),  
  PRIMARY KEY (ID)
);

CREATE TABLE diagnostic_code_relation(
  ID1 INTEGER,
  ID2 INTEGER,
  type VARCHAR(255),
  PRIMARY KEY (ID1, ID2),
  FOREIGN KEY(ID1) REFERENCES diagnostic_code(ID),
  FOREIGN KEY(ID2) REFERENCES diagnostic_code(ID)
);

CREATE TABLE consultation_diagnostic(
  VAT_doctor VARCHAR(20),
  date_timestamp TIMESTAMP,
  ID INTEGER,
  UNIQUE(VAT_doctor, date_timestamp, ID),
  PRIMARY KEY(VAT_doctor, date_timestamp),
  FOREIGN KEY (VAT_doctor, date_timestamp) REFERENCES consultation(VAT_doctor, date_timestamp),
  FOREIGN KEY (ID) REFERENCES diagnostic_code(ID)
);

CREATE TABLE medication(
  name VARCHAR(64),
  lab VARCHAR(255),
  PRIMARY KEY(name, lab)
);

CREATE TABLE prescription(
  VAT_doctor VARCHAR(20),
  date_timestamp TIMESTAMP,
  ID INTEGER,
  name VARCHAR(64),
  lab VARCHAR(255),
  dosage VARCHAR(20),
  description VARCHAR(512),
  PRIMARY KEY(VAT_doctor, date_timestamp, ID, name, lab),
  FOREIGN KEY (VAT_doctor, date_timestamp, ID) REFERENCES consultation_diagnostic(VAT_doctor, date_timestamp, ID),
  FOREIGN KEY (name, lab) REFERENCES medication(name, lab)
);

CREATE TABLE procedure_(
  name VARCHAR(255),
  type VARCHAR(255),
  PRIMARY KEY(name)
);

CREATE TABLE procedure_in_consultation(
  name VARCHAR(255),
  VAT_doctor VARCHAR(20),
  date_timestamp TIMESTAMP,
  description VARCHAR(512),
  PRIMARY KEY(name, VAT_doctor, date_timestamp),
  FOREIGN KEY(name) REFERENCES procedure_(name),
  FOREIGN KEY(VAT_doctor, date_timestamp) REFERENCES consultation(VAT_doctor, date_timestamp)
);

CREATE TABLE teeth(
  quadrant VARCHAR(64),
  number CHAR(1),
  name VARCHAR(255),
  PRIMARY KEY(quadrant, number)
);

CREATE TABLE procedure_charting(
  name VARCHAR(255),
  VAT_doctor VARCHAR(20),
  date_timestamp TIMESTAMP,
  quadrant VARCHAR(64),
  number CHAR(1),
  desc_ VARCHAR(512),
  measure NUMERIC(6,3),
  PRIMARY KEY(name, VAT_doctor, date_timestamp, quadrant, number),
  FOREIGN KEY(name, VAT_doctor, date_timestamp) REFERENCES procedure_in_consultation(name, VAT_doctor, date_timestamp),
  FOREIGN KEY(quadrant, number) REFERENCES teeth(quadrant, number)
);

CREATE TABLE procedure_imaging(
  name VARCHAR(255),
  VAT_doctor VARCHAR(20),
  date_timestamp TIMESTAMP,
  file VARCHAR(512),
  PRIMARY KEY(name, VAT_doctor, date_timestamp, file),
  FOREIGN KEY(name, VAT_doctor, date_timestamp) REFERENCES procedure_in_consultation(name, VAT_doctor, date_timestamp)
);

Running query in 'postgresql+psycopg://clinic:***@postgres/clinic'

++
||
++
++

#### 3. Populate the Database

Write a SQL script to populate the tables of the relational database with meaningful records of your choice, that you should design to ensure that we can validate the answers to the next questions.

In [72]:
%%sql

-- Insert into client
INSERT INTO client VALUES('123456789', 'John Doe', '1955-03-12', 'Rua Principal 16', 'Lisbon', '1000-000', 'M');
INSERT INTO client VALUES('983654320', 'Laura Appleton', '1960-06-25', 'Avenida Liberdade 25', 'Lisbon', '1030-500', 'F');
INSERT INTO client VALUES('223456789', 'Mia White', '1972-01-30', 'Travessa dos Salgueiros 35', 'Sintra', '2710-000', 'F');
INSERT INTO client VALUES('323456789', 'Noah Black', '1980-11-15', 'Largo das Oliveiras 45', 'Oeiras', '2780-000', 'M');
INSERT INTO client VALUES('423456789', 'Sophia Hill', '1996-08-09', 'Rua dos Cedros 37', 'Coimbra', '3000-000', 'F');
INSERT INTO client VALUES('523456789', 'Liam Pine', '1988-09-23', 'Rua do Carvalho 15', 'Faro', '8000-000', 'M');
INSERT INTO client VALUES('823456789', 'Ivy Rose', '2003-02-17', 'Rua dos Pinheiros 46', 'Funchal', '9000-000', 'F');
INSERT INTO client VALUES('923456789', 'Jack Frost', '1950-12-05', 'Estrada do Carvalhal 32', 'Viseu', '3500-000', 'M');

INSERT INTO client VALUES('624456789', 'Alice Waters', '1983-07-07', 'Rua do Rio 3', 'Guimarães', '4800-000', 'F');
INSERT INTO client VALUES('724456789', 'Maxwell Bright', '1992-12-14', 'Rua da Encosta 5', 'Santarém', '2000-000', 'M');
INSERT INTO client VALUES('824456789', 'Iris Bloom', '1979-04-22', 'Rua do Jardim 8', 'Bragança', '5300-000', 'F');


-- Insert into phone_number_client
INSERT INTO phone_number_client VALUES('123456789', '912345678');
INSERT INTO phone_number_client VALUES('223456789', '913345678');
INSERT INTO phone_number_client VALUES('323456789', '914456789');
INSERT INTO phone_number_client VALUES('423456789', '915678901');
INSERT INTO phone_number_client VALUES('523456789', '916789012');
INSERT INTO phone_number_client VALUES('823456789', '919876543');
INSERT INTO phone_number_client VALUES('923456789', '920987654');

INSERT INTO phone_number_client VALUES('624456789', '917654321');
INSERT INTO phone_number_client VALUES('724456789', '918765432');
INSERT INTO phone_number_client VALUES('824456789', '919876543');

-- Insert into employee
INSERT INTO employee VALUES('987654321', 'Robin Smith', '1980-05-15', 'Rua das Ameixas 45', 'Lisboa', '4000-123', '0002 0123 1234 5678 9015 4', 900.00);
INSERT INTO employee VALUES('987654320', 'Jane Sweettooth', '1968-04-16', 'Avenida da Liberdade 36', 'Lisboa', '1050-153', '0002 0223 1234 5678 9015 4', 3000.00);
INSERT INTO employee VALUES('987654319', 'Jonh Red', '1991-10-26', 'Largo das Camélias 6', 'Lisboa', '1100-026', '0002 0123 1234 5678 1015 4', 1200.00);
INSERT INTO employee VALUES('983654320', 'Bob Sweden', '1991-02-17', 'Rua dos Cravos 82', 'Lisboa', '1150-103', '0002 0223 1244 5678 9015 4', 1600.00);
INSERT INTO employee VALUES('876543210', 'Emma Green', '1985-07-20', 'Praceta das Rosas 1', 'Lisboa', '4001-123', '0002 0333 1234 5678 9015 4', 1200.00);
INSERT INTO employee VALUES('876543211', 'Olivia Brown', '1990-08-22', 'Rua das Margaridas 4', 'Lisboa', '1051-153', '0002 0444 1234 5678 9015 4', 1800.00);
INSERT INTO employee VALUES('876543212', 'Sarah Clark', '1980-12-05', 'Avenida das Tulipas 22', 'Lisboa', '4050-000', '0002 0555 1234 5678 9015 4', 3200.00);
INSERT INTO employee VALUES('876543213', 'Luke Grayson', '1978-07-19', 'Rua Azul 33', 'Lisbon', '1100-000', '0002 0666 1234 5678 9015 4', 3400.00);
INSERT INTO employee VALUES('876543214', 'Ethan Storm', '1989-08-15', 'Rua do Vento 45', 'Setúbal', '4700-000', '0002 0777 1234 5678 9015 4', 1300.00);
INSERT INTO employee VALUES('876543215', 'Chloe Brooks', '1993-05-20', 'Rua do Sol 67', 'Setúbal', '3810-000', '0002 0888 1234 5678 9015 4', 1350.00);
INSERT INTO employee VALUES('876543216', 'Ava Taylor', '1995-10-11', 'Avenida da Chuva 12', 'Setúbal', '2900-000', '0002 0999 1234 5678 9015 4', 1280.00);
INSERT INTO employee VALUES('876543217', 'Ryan Leaf', '1976-03-30', 'Rua das Flores 90', 'Setúbal', '8001-000', '0002 1010 1234 5678 9015 4', 950.00);


-- Insert into phone_number_employee
INSERT INTO phone_number_employee VALUES('987654321', '931234567');
INSERT INTO phone_number_employee VALUES('987654320', '931254567');
INSERT INTO phone_number_employee VALUES('987654319', '931214567');
INSERT INTO phone_number_employee VALUES('983654320', '911214567');
INSERT INTO phone_number_employee VALUES('876543210', '932334567');
INSERT INTO phone_number_employee VALUES('876543211', '932445678');
INSERT INTO phone_number_employee VALUES('876543212', '933556677');
INSERT INTO phone_number_employee VALUES('876543213', '944667788');
INSERT INTO phone_number_employee VALUES('876543214', '935556677');
INSERT INTO phone_number_employee VALUES('876543215', '936667788');
INSERT INTO phone_number_employee VALUES('876543216', '937778899');
INSERT INTO phone_number_employee VALUES('876543217', '938889910');


-- Insert into receptionist
-- Note: A receptionist is also an employee, so make sure the VAT_ID exists in the employee table.
INSERT INTO receptionist VALUES('987654321');
INSERT INTO receptionist VALUES('876543217');

-- Insert into nurse
-- Note: A nurse is also an employee, so make sure the VAT_ID exists in the employee table.
-- Example with a different employee for the nurse role
INSERT INTO nurse VALUES('987654319');
INSERT INTO nurse VALUES('876543214');
INSERT INTO nurse VALUES('876543215');
INSERT INTO nurse VALUES('876543216');

-- Insert into doctor
INSERT INTO doctor VALUES('987654320', 'Dentistry', 'Experienced dentist', 'jane.sweettooth@email.com');
INSERT INTO doctor VALUES('983654320', 'Dentistry', 'Trainee dentist', 'bob.sweden@email.com');
INSERT INTO doctor VALUES('876543210', 'General Medicine', 'Experienced GP', 'emma.green@email.com');
INSERT INTO doctor VALUES('876543211', 'Pediatrics', 'Pediatric specialist', 'olivia.brown@email.com');
INSERT INTO doctor VALUES('876543212', 'Orthodontics', 'Orthodontic specialist', 'sarah.ortho@email.com');
INSERT INTO doctor VALUES('876543213', 'Oral Surgery', 'Experienced oral surgeon', 'luke.surgeon@email.com');


-- Insert into permanent_doctor
INSERT INTO permanent_doctor VALUES('987654320', '2000-01-10');
INSERT INTO permanent_doctor VALUES('876543210', '2010-02-15');
INSERT INTO permanent_doctor VALUES('876543212', '2008-08-20');
INSERT INTO permanent_doctor VALUES('876543213', '2010-10-25');

-- Insert into trainee_doctor
-- Note: Ensure the supervisor exists in the permanent_doctor table.
INSERT INTO trainee_doctor VALUES('983654320', '876543210');  -- Bob Sweden supervised by Emma Green
INSERT INTO trainee_doctor VALUES('876543211', '987654320');  -- Olivia Brown supervised by Jane Sweettooth

-- Insert into supervision_report
INSERT INTO supervision_report VALUES('983654320', '2023-12-10 09:00:00', 'Good progress in training.', 4.0);
INSERT INTO supervision_report VALUES('983654320', '2023-11-05 14:00:00', 'Needs improvement in patient communication.', 2.5);
INSERT INTO supervision_report VALUES('983654320', '2023-10-20 10:00:00', 'Insufficient knowledge in dental procedures.', 2.0);
INSERT INTO supervision_report VALUES('876543211', '2023-09-15 11:30:00', 'Excellent in pediatric care.', 4.5);


-- Insert into appointment
INSERT INTO appointment VALUES('876543213', '2019-06-10 11:00:00', '923456789', 'Oral surgery consultation');
INSERT INTO appointment VALUES('876543212', '2019-06-20 15:00:00', '823456789', 'Orthodontic check-up');
INSERT INTO appointment VALUES('983654320', '2022-11-01 14:00:00', '223456789', 'Routine dental check-up');
INSERT INTO appointment VALUES('987654320', '2023-01-10 10:00:00', '123456789', 'Routine dental check-up');
INSERT INTO appointment VALUES('987654320', '2023-01-11 11:00:00', '123456789', 'Pain management consultation');
INSERT INTO appointment VALUES('987654320', '2023-01-12 09:30:00', '223456789', 'Regular dental check-up');
INSERT INTO appointment VALUES('987654320', '2023-01-12 12:00:00', '123456789', 'Follow-up dental check-up');
INSERT INTO appointment VALUES('987654320', '2023-01-15 10:00:00', '323456789', 'Regular dental check-up');
INSERT INTO appointment VALUES('987654320', '2023-01-16 11:00:00', '423456789', 'Dental check-up');
INSERT INTO appointment VALUES('987654320', '2023-01-17 12:00:00', '523456789', 'Dental check-up');
INSERT INTO appointment VALUES('876543212', '2023-01-20 14:30:00', '323456789', 'Cavity check-up');
INSERT INTO appointment VALUES('876543213', '2023-01-21 16:00:00', '423456789', 'Infection check-up');

INSERT INTO appointment (VAT_doctor, date_timestamp, VAT_client, description) VALUES
('987654320', '2019-01-02 15:00:00', '123456789', 'Routine dental check-up'),
('987654320', '2019-01-04 15:00:00', '983654320', 'Dental cleaning'),
('987654320', '2019-01-06 15:00:00', '223456789', 'Cavity consultation'),
('987654320', '2019-01-08 15:00:00', '323456789', 'Tooth extraction consultation'),
('987654320', '2019-01-10 15:00:00', '423456789', 'Routine dental check-up'),
('987654320', '2019-01-12 15:00:00', '523456789', 'Dental cleaning'),
('987654320', '2019-01-14 15:00:00', '823456789', 'Cavity filling'),
('987654320', '2019-01-16 15:00:00', '923456789', 'Teeth whitening consultation'),
('987654320', '2019-01-18 15:00:00', '123456789', 'Dental implant consultation'),
('987654320', '2019-01-20 15:00:00', '983654320', 'Routine dental check-up'),
('987654320', '2019-02-02 15:00:00', '123456789', 'Routine dental check-up'),
('987654320', '2019-02-04 15:00:00', '983654320', 'Dental cleaning'),
('987654320', '2019-02-06 15:00:00', '223456789', 'Cavity consultation'),
('987654320', '2019-02-08 15:00:00', '323456789', 'Tooth extraction consultation'),
('987654320', '2019-02-10 15:00:00', '423456789', 'Routine dental check-up'),
('987654320', '2019-02-12 15:00:00', '523456789', 'Dental cleaning'),
('987654320', '2019-02-14 15:00:00', '823456789', 'Cavity filling'),
('987654320', '2019-02-16 15:00:00', '923456789', 'Teeth whitening consultation'),
('987654320', '2019-02-18 15:00:00', '123456789', 'Dental implant consultation'),
('987654320', '2019-02-20 15:00:00', '983654320', 'Routine dental check-up'),    
('987654320', '2019-03-02 15:00:00', '123456789', 'Routine dental check-up'),
('987654320', '2019-03-04 15:00:00', '983654320', 'Dental cleaning'),
('987654320', '2019-03-06 15:00:00', '223456789', 'Cavity consultation'),
('987654320', '2019-03-08 15:00:00', '323456789', 'Tooth extraction consultation'),
('987654320', '2019-03-10 15:00:00', '423456789', 'Routine dental check-up'),
('987654320', '2019-03-12 15:00:00', '523456789', 'Dental cleaning'),
('987654320', '2019-03-14 15:00:00', '823456789', 'Cavity filling'),
('987654320', '2019-03-16 15:00:00', '923456789', 'Teeth whitening consultation'),
('987654320', '2019-03-18 15:00:00', '123456789', 'Dental implant consultation'),
('987654320', '2019-03-20 15:00:00', '983654320', 'Routine dental check-up'),        
('987654320', '2019-04-02 15:00:00', '123456789', 'Routine dental check-up'),
('987654320', '2019-04-04 15:00:00', '983654320', 'Dental cleaning'),
('987654320', '2019-04-06 15:00:00', '223456789', 'Cavity consultation'),
('987654320', '2019-04-08 15:00:00', '323456789', 'Tooth extraction consultation'),
('987654320', '2019-04-10 15:00:00', '423456789', 'Routine dental check-up'),
('987654320', '2019-04-12 15:00:00', '523456789', 'Dental cleaning'),
('987654320', '2019-04-14 15:00:00', '823456789', 'Cavity filling'),
('987654320', '2019-04-16 15:00:00', '923456789', 'Teeth whitening consultation'),
('987654320', '2019-04-18 15:00:00', '123456789', 'Dental implant consultation'),
('987654320', '2019-04-20 15:00:00', '983654320', 'Routine dental check-up'), 
('987654320', '2019-05-02 15:00:00', '123456789', 'Routine dental check-up'),
('987654320', '2019-05-04 15:00:00', '983654320', 'Dental cleaning'),
('987654320', '2019-05-06 15:00:00', '223456789', 'Cavity consultation'),
('987654320', '2019-05-08 15:00:00', '323456789', 'Tooth extraction consultation'),
('987654320', '2019-05-10 15:00:00', '423456789', 'Routine dental check-up'),
('987654320', '2019-05-12 15:00:00', '523456789', 'Dental cleaning'),
('987654320', '2019-05-14 15:00:00', '823456789', 'Cavity filling'),
('987654320', '2019-05-16 15:00:00', '923456789', 'Teeth whitening consultation'),
('987654320', '2019-05-18 15:00:00', '123456789', 'Dental implant consultation'),
('987654320', '2019-05-20 15:00:00', '983654320', 'Routine dental check-up'), 
('987654320', '2019-06-02 15:00:00', '123456789', 'Routine dental check-up'),
('987654320', '2019-06-04 15:00:00', '983654320', 'Dental cleaning'),
('987654320', '2019-06-06 15:00:00', '223456789', 'Cavity consultation'),
('987654320', '2019-06-08 15:00:00', '323456789', 'Tooth extraction consultation'),
('987654320', '2019-06-10 15:00:00', '423456789', 'Routine dental check-up'),
('987654320', '2019-06-12 15:00:00', '523456789', 'Dental cleaning'),
('987654320', '2019-06-14 15:00:00', '823456789', 'Cavity filling'),
('987654320', '2019-06-16 15:00:00', '923456789', 'Teeth whitening consultation'),
('987654320', '2019-06-18 15:00:00', '123456789', 'Dental implant consultation'),
('987654320', '2019-06-20 15:00:00', '983654320', 'Routine dental check-up'),    
('987654320', '2019-07-02 15:00:00', '123456789', 'Routine dental check-up'),
('987654320', '2019-07-04 15:00:00', '983654320', 'Dental cleaning'),
('987654320', '2019-07-06 15:00:00', '223456789', 'Cavity consultation'),
('987654320', '2019-07-08 15:00:00', '323456789', 'Tooth extraction consultation'),
('987654320', '2019-07-10 15:00:00', '423456789', 'Routine dental check-up'),
('987654320', '2019-07-12 15:00:00', '523456789', 'Dental cleaning'),
('987654320', '2019-07-14 15:00:00', '823456789', 'Cavity filling'),
('987654320', '2019-07-16 15:00:00', '923456789', 'Teeth whitening consultation'),
('987654320', '2019-07-18 15:00:00', '123456789', 'Dental implant consultation'),
('987654320', '2019-07-20 15:00:00', '983654320', 'Routine dental check-up'), 
('987654320', '2019-08-02 15:00:00', '123456789', 'Routine dental check-up'),
('987654320', '2019-08-04 15:00:00', '983654320', 'Dental cleaning'),
('987654320', '2019-08-06 15:00:00', '223456789', 'Cavity consultation'),
('987654320', '2019-08-08 15:00:00', '323456789', 'Tooth extraction consultation'),
('987654320', '2019-08-10 15:00:00', '423456789', 'Routine dental check-up'),
('987654320', '2019-08-12 15:00:00', '523456789', 'Dental cleaning'),
('987654320', '2019-08-14 15:00:00', '823456789', 'Cavity filling'),
('987654320', '2019-08-16 15:00:00', '923456789', 'Teeth whitening consultation'),
('987654320', '2019-08-18 15:00:00', '123456789', 'Dental implant consultation'),
('987654320', '2019-08-20 15:00:00', '983654320', 'Routine dental check-up'),    
('987654320', '2019-10-02 15:00:00', '123456789', 'Routine dental check-up'),
('987654320', '2019-10-04 15:00:00', '983654320', 'Dental cleaning'),
('987654320', '2019-10-06 15:00:00', '223456789', 'Cavity consultation'),
('987654320', '2019-10-08 15:00:00', '323456789', 'Tooth extraction consultation'),
('987654320', '2019-10-10 15:00:00', '423456789', 'Routine dental check-up'),
('987654320', '2019-10-12 15:00:00', '523456789', 'Dental cleaning'),
('987654320', '2019-10-14 15:00:00', '823456789', 'Cavity filling'),
('987654320', '2019-10-16 15:00:00', '923456789', 'Teeth whitening consultation'),
('987654320', '2019-10-18 15:00:00', '123456789', 'Dental implant consultation'),
('987654320', '2019-10-20 15:00:00', '983654320', 'Routine dental check-up'),   
('987654320', '2019-11-02 15:00:00', '123456789', 'Routine dental check-up'),
('987654320', '2019-11-04 15:00:00', '983654320', 'Dental cleaning'),
('987654320', '2019-11-06 15:00:00', '223456789', 'Cavity consultation'),
('987654320', '2019-11-08 15:00:00', '624456789', 'Tooth extraction consultation'),
('987654320', '2019-11-10 15:00:00', '724456789', 'Routine dental check-up'),
('987654320', '2019-11-12 15:00:00', '523456789', 'Dental cleaning'),
('987654320', '2019-11-14 15:00:00', '823456789', 'Cavity filling'),
('987654320', '2019-11-16 15:00:00', '923456789', 'Teeth whitening consultation'),
('987654320', '2019-11-18 15:00:00', '123456789', 'Dental implant consultation'),
('987654320', '2019-11-20 15:00:00', '824456789', 'Routine dental check-up');


-- Insert into consultation
INSERT INTO consultation VALUES('876543213', '2019-06-10 11:00:00', 'Oral examination', 'Wisdom tooth extraction needed', 'Surgery scheduled', 'Post-operative care discussion');
INSERT INTO consultation VALUES('876543212', '2019-06-20 15:00:00', 'Orthodontic check', 'Braces adjustment needed', 'Next visit in 2 months', 'Follow-up for brace adjustment');
INSERT INTO consultation VALUES('983654320', '2022-11-01 14:00:00', 'Patient reports discomfort', 'Mild pain observed', 'Prescription of Paracetamol', 'Recommendation to monitor and follow-up if pain persists');
INSERT INTO consultation VALUES('987654320', '2023-01-10 10:00:00', 'Patient reports toothache', 'Cavity in molar tooth', 'Cavity filling required', 'Schedule follow-up after procedure');
INSERT INTO consultation VALUES('987654320', '2023-01-11 11:00:00', 'Discussion about pain', 'Pain management strategies', 'Prescription of Ibuprofen', 'Follow-up if pain persists');
INSERT INTO consultation VALUES('987654320', '2023-01-12 09:30:00', 'Regular check-up', 'Signs of gingivitis observed', 'Advice on better dental hygiene', 'Schedule follow-up in 3 months');
INSERT INTO consultation VALUES('987654320', '2023-01-12 12:00:00', 'Follow-up check-up notes', 'Maintaining oral health', 'Continue current hygiene practices', 'Next check-up in 6 months');
INSERT INTO consultation VALUES('987654320', '2023-01-15 10:00:00', 'Regular check-up', 'Early signs of periodontitis', 'Recommendation for treatment', 'Immediate treatment required');
INSERT INTO consultation VALUES('876543212', '2023-01-20 14:30:00', 'Cavity check', 'Cavity detected in molar tooth', 'Treatment plan discussed', 'Follow-up in 3 weeks');
INSERT INTO consultation VALUES('876543213', '2023-01-21 16:00:00', 'Infection check', 'Patient reports symptoms of infection', 'Prescription provided', 'Follow-up in 1 week');

INSERT INTO consultation VALUES('987654320', '2019-11-08 15:00:00', 'Patient reports discomfort', 'Mild gum recession observed, potential signs of gingivitis', 'Extraction needed', 'Schedule for extraction');
INSERT INTO consultation VALUES('987654320', '2019-11-10 15:00:00', 'Regular check-up', 'Signs of gum inflammation, suggestive of gingivitis', 'Good oral health', 'Continue current hygiene practices');
INSERT INTO consultation VALUES('987654320', '2019-11-20 15:00:00', 'Routine check-up', 'Early signs of gingival recession, indicative of gingivitis', 'Maintain hygiene', 'Next check-up in 6 months');

-- Insert into consultation_assistant
-- Ensure that there is always on assistant per consultation
INSERT INTO consultation_assistant VALUES('876543213', '2019-06-10 11:00:00', '987654319'); 
INSERT INTO consultation_assistant VALUES('876543212', '2019-06-20 15:00:00', '876543214'); 
INSERT INTO consultation_assistant VALUES('983654320', '2022-11-01 14:00:00', '876543215'); 
INSERT INTO consultation_assistant VALUES('987654320', '2023-01-10 10:00:00', '987654319'); 
INSERT INTO consultation_assistant VALUES('987654320', '2023-01-11 11:00:00', '876543216'); 
INSERT INTO consultation_assistant VALUES('987654320', '2023-01-12 09:30:00', '876543214'); 
INSERT INTO consultation_assistant VALUES('987654320', '2023-01-12 12:00:00', '876543215'); 
INSERT INTO consultation_assistant VALUES('987654320', '2023-01-15 10:00:00', '876543216'); 
INSERT INTO consultation_assistant VALUES('876543212', '2023-01-20 14:30:00', '876543214'); 
INSERT INTO consultation_assistant VALUES('876543213', '2023-01-21 16:00:00', '876543215'); 
INSERT INTO consultation_assistant VALUES('987654320', '2019-11-08 15:00:00', '987654319');
INSERT INTO consultation_assistant VALUES('987654320', '2019-11-10 15:00:00', '987654319');
INSERT INTO consultation_assistant VALUES('987654320', '2019-11-20 15:00:00', '987654319');


-- Insert into diagnostic_code
INSERT INTO diagnostic_code VALUES(1, 'Cavity');
INSERT INTO diagnostic_code VALUES(2, 'Infection');
INSERT INTO diagnostic_code VALUES(3, 'Toothache');
INSERT INTO diagnostic_code VALUES(4, 'Bruxism');
INSERT INTO diagnostic_code VALUES(5, 'Gingivitis');


-- Insert into diagnostic_code_relation
INSERT INTO diagnostic_code_relation VALUES(1, 2, 'Related');
INSERT INTO diagnostic_code_relation VALUES(1, 3, 'Related');
INSERT INTO diagnostic_code_relation VALUES(2, 3, 'Related');

-- Insert into consultation_diagnostic
INSERT INTO consultation_diagnostic VALUES('876543212', '2019-06-20 15:00:00', 1);
INSERT INTO consultation_diagnostic VALUES('876543213', '2019-06-10 11:00:00', 2);
INSERT INTO consultation_diagnostic VALUES('983654320', '2022-11-01 14:00:00', 3);

INSERT INTO consultation_diagnostic VALUES('987654320', '2023-01-10 10:00:00', 1);
INSERT INTO consultation_diagnostic VALUES('987654320', '2023-01-11 11:00:00', 4);

INSERT INTO consultation_diagnostic VALUES('987654320', '2023-01-12 09:30:00', 1);
INSERT INTO consultation_diagnostic VALUES('987654320', '2023-01-12 12:00:00', 2);
INSERT INTO consultation_diagnostic VALUES('987654320', '2023-01-15 10:00:00', 2);
INSERT INTO consultation_diagnostic VALUES('876543212', '2023-01-20 14:30:00', 1); 
INSERT INTO consultation_diagnostic VALUES('876543213', '2023-01-21 16:00:00', 2);
INSERT INTO consultation_diagnostic VALUES('987654320', '2019-11-08 15:00:00', 5);
INSERT INTO consultation_diagnostic VALUES('987654320', '2019-11-10 15:00:00', 5);
INSERT INTO consultation_diagnostic VALUES('987654320', '2019-11-20 15:00:00', 5);

-- Insert into medication
INSERT INTO medication VALUES('Amoxicillin', 'MedLab');
INSERT INTO medication VALUES('Ibuprofen', 'PainAwayLab');
INSERT INTO medication VALUES('Paracetamol', 'FeverGoneLab');
INSERT INTO medication VALUES('Mouthwash', 'OralHealthLab');
INSERT INTO medication VALUES('CavityMed', 'CavityLab');
INSERT INTO medication VALUES('GeneralAntibiotic', 'GeneralLab');

-- Insert into prescription
INSERT INTO prescription VALUES('876543212', '2019-06-20 15:00:00', 1, 'CavityMed', 'CavityLab', '1 pill', 'Daily for cavity treatment');
INSERT INTO prescription VALUES('876543213', '2019-06-10 11:00:00', 2, 'GeneralAntibiotic', 'GeneralLab', '1 pill', 'Daily for infection treatment');
INSERT INTO prescription VALUES('983654320', '2022-11-01 14:00:00', 3, 'Paracetamol', 'FeverGoneLab', '500mg', 'Take one tablet every 8 hours');
INSERT INTO prescription VALUES('987654320', '2023-01-10 10:00:00', 1, 'Amoxicillin', 'MedLab', '500mg', 'Take twice daily');
INSERT INTO prescription VALUES('987654320', '2023-01-11 11:00:00', 4, 'Ibuprofen', 'PainAwayLab', '400mg', 'Take one tablet every 6 hours');
INSERT INTO prescription VALUES('987654320', '2023-01-12 09:30:00', 1, 'Amoxicillin', 'MedLab', '500mg', 'Take three times a day');
INSERT INTO prescription VALUES('987654320', '2023-01-12 12:00:00', 2, 'Mouthwash', 'OralHealthLab', 'Use twice daily', 'For oral hygiene');
INSERT INTO prescription VALUES('987654320', '2023-01-15 10:00:00', 2, 'Mouthwash', 'OralHealthLab', 'Use twice daily', 'For oral hygiene');
INSERT INTO prescription VALUES('876543212', '2023-01-20 14:30:00', 1, 'CavityMed', 'CavityLab', '1 pill', 'Daily for cavity treatment');
INSERT INTO prescription VALUES('876543213', '2023-01-21 16:00:00', 2, 'GeneralAntibiotic', 'GeneralLab', '1 pill', 'Daily for infection treatment');


-- Insert into procedure_
INSERT INTO procedure_ VALUES('Tooth Filling', 'Restorative');
INSERT INTO procedure_ VALUES('Dental X-Ray', 'Diagnostic');
INSERT INTO procedure_ VALUES ('Gum Measurement', 'Diagnostic');


-- Insert into procedure_in_consultation
INSERT INTO procedure_in_consultation VALUES('Tooth Filling', '987654320', '2023-01-10 10:00:00', 'Filling of molar tooth');
INSERT INTO procedure_in_consultation VALUES('Dental X-Ray', '987654320', '2023-01-10 10:00:00', 'Dental X-ray imaging');
INSERT INTO Procedure_in_consultation VALUES ('Gum Measurement', '987654320', '2019-11-08 15:00:00', 'Gum measurement for tooth 3 in the Lower Left quadrant');
INSERT INTO Procedure_in_consultation VALUES ('Gum Measurement', '987654320', '2019-11-10 15:00:00', 'Gum measurement for tooth 1 in the Upper Right quadrant');
INSERT INTO Procedure_in_consultation VALUES ('Gum Measurement', '987654320', '2019-11-20 15:00:00', 'Gum measurement for tooth 2 in the Lower Right quadrant');

-- Insert into teeth
INSERT INTO teeth VALUES('Upper Right', '2', 'Second Molar');
INSERT INTO teeth VALUES ('Lower Left', '3', 'Third Molar');
INSERT INTO teeth VALUES ('Upper Right', '1', 'First Molar');
INSERT INTO teeth VALUES('Lower Right', '2', 'Second Molar');


-- Insert into procedure_charting
INSERT INTO procedure_charting VALUES('Tooth Filling', '987654320', '2023-01-10 10:00:00', 'Upper Right', '2', 'Filling completed', 2.0);
INSERT INTO procedure_charting VALUES('Gum Measurement', '987654320', '2019-11-08 15:00:00', 'Lower Left', '3', 'Mild gum recession', 4.2);
INSERT INTO procedure_charting VALUES('Gum Measurement', '987654320', '2019-11-10 15:00:00', 'Upper Right', '1', 'Signs of gum inflammation', 4.1);
INSERT INTO procedure_charting VALUES('Gum Measurement', '987654320', '2019-11-20 15:00:00', 'Lower Right', '2', 'Early signs of gingival recession', 4.3);

-- Insert into procedure_imaging
INSERT INTO procedure_imaging VALUES('Dental X-Ray', '987654320', '2023-01-10 10:00:00', '/path/to/dental_xray.png');

Running query in 'postgresql+psycopg://clinic:***@postgres/clinic'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

100 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

## PART II – SQL

#### 1. SQL Queries

Write SQL queries for each of the following information needs:

1. List the VAT, name, and phone number(s) for all clients that had consultations with the doctor named Jane Sweettooth. The list should be presented according to the alphabetical order for the names.

In [ ]:
%%sql

SELECT c.VAT_ID, c.name, pc.phone
FROM client c
JOIN phone_number_client pc ON c.VAT_ID = pc.VAT_ID
JOIN appointment a ON c.VAT_ID = a.VAT_client
JOIN consultation co ON a.VAT_doctor = co.VAT_doctor AND a.date_timestamp = co.date_timestamp
JOIN employee e ON co.VAT_doctor = e.VAT_ID
WHERE e.name = 'Jane Sweettooth'
ORDER BY c.name;

2. List the name of all trainee doctors with reports associated to an evaluation score below the value of three, or with a description that contains the term insufficient. The name should be presented together with the VAT of the trainee, the name for the doctor that made the evaluation, the evaluation score, and the textual description for the evaluation report. Results should be sorted according to the evaluation score, in descending order.

In [ ]:
%%sql

SELECT DISTINCT t.name AS trainee_name, td.VAT_ID AS trainee_VAT, p.name AS supervisor_name, sr.evaluation AS evaluation_score, sr.description AS report_description
FROM trainee_doctor AS td
JOIN supervision_report AS sr ON td.VAT_ID = sr.VAT_ID
JOIN permanent_doctor AS pd ON td.supervisor = pd.VAT_ID
JOIN employee AS t ON td.VAT_ID = t.VAT_ID
JOIN employee AS p ON p.VAT_ID = td.supervisor
WHERE sr.evaluation < 3 OR LOWER(sr.description) LIKE '%insufficient%'
ORDER BY sr.evaluation DESC;

3. List the name, city, and VAT for all clients where the most recent consultation has the objective part of the SOAP note mentioning the terms gingivitis or periodontitis.

In [ ]:
%%sql

SELECT DISTINCT c.name, c.city, c.VAT_ID
FROM client AS c
JOIN appointment AS ap ON c.VAT_ID = ap.VAT_client
JOIN consultation AS co ON ap.VAT_doctor = co.VAT_doctor AND ap.date_timestamp = co.date_timestamp
WHERE co.date_timestamp = (
    SELECT MAX(date_timestamp)
    FROM consultation AS co
    WHERE co.VAT_doctor = ap.VAT_doctor
    )
AND LOWER(co.SOAP_O ) LIKE '%gingivitis%' OR LOWER(co.SOAP_O ) LIKE '%periodontitis%'

4. List the name, VAT and address (i.e., street, city and zip) of all clients of the clinic that have had appointments but that never had a consultation (i.e., clients that never showed to an appointment).

In [ ]:
%%sql

SELECT DISTINCT c.name, c.VAT_ID, c.street, c.city, c.zip_code
FROM client AS c
JOIN appointment AS ap ON c.VAT_ID = ap.VAT_client
LEFT JOIN consultation AS co ON ap.VAT_doctor = co.VAT_doctor AND ap.date_timestamp = co.date_timestamp
WHERE co.VAT_doctor IS NULL AND co.date_timestamp IS NULL;

5. For each possible diagnosis, presenting the code together with the description, list the number of distinct medication names that have been prescribed to treat that condition. Sort the results according to the number of distinct medication names, in ascending order.

In [ ]:
%%sql

SELECT dc.ID AS diagnosis_code, dc.description AS diagnosis_description, COUNT(DISTINCT m.name) AS num_distinct_medications
FROM diagnostic_code dc
LEFT JOIN consultation_diagnostic AS cd ON dc.ID = cd.ID
LEFT JOIN prescription AS pr ON cd.VAT_doctor = pr.VAT_doctor AND cd.date_timestamp = pr.date_timestamp AND cd.ID = pr.ID
LEFT JOIN medication AS m ON pr.name = m.name AND pr.lab = m.lab
GROUP BY dc.ID, dc.description
ORDER BY num_distinct_medications ASC;

6. For each diagnostic code, present the name of the most common medication used to treat that condition (i.e., the medication name that more often appears associated to prescriptions for that diagnosis).

In [ ]:
%%sql
-- voltar a olhar para esta query

WITH MedicationCounts AS (
    SELECT cd.ID AS diagnosis_code, pr.name AS medication_name, COUNT(*) AS medication_count, ROW_NUMBER() OVER (PARTITION BY cd.ID ORDER BY COUNT(*) DESC) AS rn
    FROM diagnostic_code AS cd
    LEFT JOIN consultation_diagnostic AS cdc ON cd.ID = cdc.ID
    LEFT JOIN prescription AS pr ON cdc.VAT_doctor = pr.VAT_doctor AND cdc.date_timestamp = pr.date_timestamp AND cdc.ID = pr.ID
    GROUP BY cd.ID, pr.name
)
SELECT diagnosis_code, medication_name
FROM MedicationCounts
WHERE rn = 1;

7. List, alphabetically, the names and labs for the medications that, in the year 2019, have been used to treat “dental cavities”, but have not been used to treat any “infectious disease”. You can use the aforementioned names for searching diagnostic codes in the dataset, without considering relations (e.g., part-of relations) between diagnostic codes.

In [ ]:
%%sql

SELECT DISTINCT p.name, p.lab
FROM medication AS p
JOIN prescription AS pr ON p.name = pr.name AND p.lab = pr.lab
JOIN consultation_diagnostic AS cd ON pr.VAT_doctor = cd.VAT_doctor AND pr.date_timestamp = cd.date_timestamp AND pr.ID = cd.ID
JOIN diagnostic_code AS dc ON cd.ID = dc.ID
WHERE dc.description LIKE 'Cavity' AND EXTRACT(year FROM pr.date_timestamp) = 2019 AND 
    NOT EXISTS (SELECT 1 
                FROM consultation_diagnostic AS cd2 
                JOIN diagnostic_code AS dc2 ON cd2.ID = dc2.ID
                WHERE dc2.description LIKE 'Infection' AND pr.VAT_doctor = cd2.VAT_doctor AND pr.date_timestamp = cd2.date_timestamp AND pr.ID = cd2.ID
                    
                )
ORDER BY p.name, p.lab;

8. List the names and addresses of clients that have never missed an appointment in 2019 (i.e., the clients that, in the year 2019, have always appeared in all the consultations scheduled for them).

In [ ]:
%%sql
    
SELECT c.name, c.street, c.city, c.zip_code
FROM client AS c
WHERE NOT EXISTS (
    SELECT 1
    FROM appointment AS a
    LEFT JOIN consultation AS co ON a.VAT_doctor = co.VAT_doctor AND a.date_timestamp = co.date_timestamp
    WHERE a.VAT_client = c.VAT_ID AND EXTRACT(year FROM a.date_timestamp) = 2019 AND co.VAT_doctor IS NULL AND co.date_timestamp IS NULL
);

#### 2. SQL Updates and Deletes

Write SQL instructions for each of the following changes in the database:

1. Change the address of the doctor named Jane Sweettooth, to a different city and street of your choice.

In [ ]:
%%sql
UPDATE Employee 
SET street = 'Rua Branca 32', city = 'Lagos'
WHERE name = 'Jane Sweettooth';

2. Change the salary of all doctors that had more than 100 appointments in 2019. The new salaries should correspond to an increase in 5% from the old values.

In [ ]:
%%sql
UPDATE Employee
SET salary = salary*1.05
WHERE VAT_ID IN(
    SELECT a.VAT_doctor
    FROM Appointment a
    WHERE EXTRACT(year FROM a.date_timestamp) = 2019
    GROUP BY a.VAT_doctor
    HAVING COUNT(*)>100
);

3. Delete the doctor named Jane Sweettooth from the database, removing also all the appointments and all the consultations (including the associated procedures, diagnosis and prescriptions) in which she was involved. Notice that if there are procedures/diagnosis that were only performed/assigned by this doctor, you should remove them also from the database.

In [ ]:
%%sql
DROP FUNCTION IF EXISTS doctor_vat_id;
CREATE OR REPLACE FUNCTION doctor_vat_id(doctor_name VARCHAR(80))
RETURNS VARCHAR(20) AS
$$
DECLARE
    doctor_id VARCHAR(20);
BEGIN
    SELECT VAT_ID INTO doctor_id
    FROM employee
    WHERE name LIKE doctor_name;
    RETURN doctor_id;
END;
$$ LANGUAGE plpgsql;

DELETE FROM supervision_report WHERE VAT_ID = (SELECT VAT_ID FROM trainee_doctor WHERE supervisor = doctor_vat_id('Jane Sweettooth'));
DELETE FROM supervision_report WHERE VAT_ID = doctor_vat_id('Jane Sweettooth');
DELETE FROM trainee_doctor WHERE VAT_ID = doctor_vat_id('Jane Sweettooth');
DELETE FROM trainee_doctor WHERE supervisor = doctor_vat_id('Jane Sweettooth');
DELETE FROM permanent_doctor WHERE VAT_ID = doctor_vat_id('Jane Sweettooth');

DELETE FROM prescription WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');
DELETE FROM diagnostic_code_relation WHERE NOT EXISTS (SELECT 1 FROM consultation_diagnostic cd WHERE cd.ID = diagnostic_code_relation.ID1 AND cd.VAT_doctor <> doctor_vat_id('Jane Sweettooth'));
DELETE FROM diagnostic_code_relation WHERE NOT EXISTS (SELECT 1 FROM consultation_diagnostic cd WHERE cd.ID = diagnostic_code_relation.ID2 AND cd.VAT_doctor <> doctor_vat_id('Jane Sweettooth'));
DELETE FROM consultation_diagnostic WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');
DELETE FROM diagnostic_code WHERE NOT EXISTS (SELECT 1 FROM consultation_diagnostic cd WHERE cd.ID = diagnostic_code.ID AND cd.VAT_doctor <> doctor_vat_id('Jane Sweettooth'));
DELETE FROM procedure_charting WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');
DELETE FROM procedure_imaging WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');

DELETE FROM procedure_in_consultation WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');
DELETE FROM procedure_ WHERE NOT EXISTS (SELECT 1 FROM procedure_in_consultation pic WHERE pic.name = procedure_.name AND pic.VAT_doctor <> doctor_vat_id('Jane Sweettooth'));
DELETE FROM consultation WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth'); 
DELETE FROM consultation_assistant WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');

DELETE FROM phone_number_employee WHERE VAT_ID = doctor_vat_id('Jane Sweettooth'); 
DELETE FROM appointment WHERE VAT_doctor = doctor_vat_id('Jane Sweettooth');
DELETE FROM doctor WHERE VAT_ID = doctor_vat_id('Jane Sweettooth');
DELETE FROM employee WHERE VAT_ID = doctor_vat_id('Jane Sweettooth');

4. Find the diagnosis code corresponding to gingivitis. Create also a new diagnosis code corresponding to periodontitis. Change the diagnosis from gingivitis to periodontitis for all clients where, for the same consultation/diagnosis, a dental charting procedure shows a value above 4 in terms of the average gap between the teeth and the gums.

In [ ]:
%%sql
INSERT INTO diagnostic_code VALUES (6, 'Periodontitis');
UPDATE consultation_diagnostic cd
SET ID = (SELECT ID FROM diagnostic_code WHERE LOWER(description) LIKE 'periodontitis') 
WHERE ID = (SELECT ID FROM diagnostic_code WHERE LOWER(description) LIKE 'gingivitis'
                                        AND EXISTS (SELECT 1 FROM procedure_charting PC WHERE cd.VAT_doctor = pc.VAT_doctor AND cd.date_timestamp = pc.date_timestamp AND pc.measure > 4.0));

SELECT ID FROM diagnostic_code WHERE LOWER(description) LIKE 'gingivitis';

## PART III - Functions, Stored Procedures, and Triggers

#### 1. Functions and Stored Procedures

Provide the SQL instructions corresponding to each of the aforementioned tasks:

1. Write a function to compute the total number of no-shows (i.e., appointments where the client missed the consult) for clients of a given gender, within a given age group, and within a given year (i.e., the gender, year, and upper/lower limits for the age should all be provided as parameters).

In [ ]:
%%sql

DROP FUNCTION IF EXISTS total_no_shows;
    
CREATE OR REPLACE FUNCTION total_no_shows(input_gender CHAR(1), input_year INTEGER, age_lower_limit INTEGER, age_upper_limit INTEGER)
RETURNS INTEGER AS
$$
DECLARE 
    count_no_shows INTEGER;
    start_year DATE;
    end_year DATE;
BEGIN
    start_year := MAKE_DATE(input_year, 1, 1);
    end_year := MAKE_DATE(input_year + 1, 1, 1);    

    SELECT COUNT(*) INTO count_no_shows
    FROM appointment a
    JOIN client c ON a.VAT_client = c.VAT_ID
    WHERE c.gender = input_gender
        AND EXTRACT(year FROM AGE(a.date_timestamp, c.birth_date)) BETWEEN age_lower_limit AND age_upper_limit
        AND a.date_timestamp >= start_year AND a.date_timestamp < end_year
        AND NOT EXISTS (
            SELECT 1
            FROM consultation co
            WHERE co.VAT_doctor = a.VAT_doctor AND co.date_timestamp = a.date_timestamp
        );
    RETURN count_no_shows;
END;
$$ LANGUAGE plpgsql;

2. Write a stored procedure to change the salary of all doctors that have been practicing for more than x years, where x is an input parameter. The new salary should correspond to a raise of 10 percent over the original salary, in the case of doctors with more than 100 consults in the current year, and to a raise of 5 percent otherwise.

In [ ]:
%%sql

CREATE OR REPLACE PROCEDURE update_doctor_salaries(years_of_practice_threshold INT)
LANGUAGE plpgsql
AS $$
DECLARE
    current_year INT;
    doctor_id VARCHAR(20);
    new_salary NUMERIC;
    total_consults INT;
BEGIN
    current_year := EXTRACT(year FROM CURRENT_DATE);

    FOR doctor_id, new_salary IN
        SELECT 
            d.VAT_ID, 
            CASE 
                WHEN COUNT(a.*) > 100 THEN e.salary * 1.10
                ELSE e.salary * 1.05
            END
        FROM doctor d
        JOIN permanent_doctor pd ON d.VAT_ID = pd.VAT_ID
        JOIN employee e ON d.VAT_ID = e.VAT_ID
        LEFT JOIN appointment a ON d.VAT_ID = a.VAT_doctor AND EXTRACT(year FROM a.date_timestamp) = current_year
        WHERE current_year - EXTRACT(year FROM pd.years) > years_of_practice_threshold
        GROUP BY d.VAT_ID, e.salary
    LOOP
        UPDATE employee
        SET salary = new_salary
        WHERE VAT_ID = doctor_id;
    END LOOP;
END;
$$;

#### 2. Triggers

Provide the SQL instructions corresponding to each of the aforementioned tasks:

1. Write triggers to ensure that (a) an individual that is a receptionist or a nurse at the clinic cannot simultaneously be a doctor, and (b) doctors cannot simultaneously be trainees and permanent staff.

In [8]:
%%sql
    
DROP TRIGGER IF EXISTS rec_employ_trigger ON receptionist;
DROP TRIGGER IF EXISTS nurse_employ_trigger ON nurse;
DROP FUNCTION IF EXISTS chk_empl_not_doc_proc;

CREATE OR REPLACE FUNCTION chk_empl_not_doc_proc()
RETURNS TRIGGER AS 
$$
BEGIN
  IF (
    NEW.VAT_ID IN (SELECT VAT_ID FROM doctor)) THEN
    RAISE EXCEPTION 'Receptionist/Nurse cannot simultaneously be a Doctor';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS doc_employ_trigger ON doctor;
DROP FUNCTION IF EXISTS chk_doc_not_rec_nurse_proc;

CREATE OR REPLACE FUNCTION chk_doc_not_rec_nurse_proc()
RETURNS TRIGGER AS 
$$
BEGIN
  IF (
    NEW.VAT_ID IN (SELECT VAT_ID FROM nurse
    UNION
    SELECT VAT_ID FROM receptionist)) THEN
    RAISE EXCEPTION 'Doctor cannot be simultaneously a Receptionist or Nurse';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER rec_employ_trigger
BEFORE UPDATE OR INSERT ON receptionist
FOR EACH ROW EXECUTE PROCEDURE chk_empl_not_doc_proc();

CREATE TRIGGER nurse_employ_trigger
BEFORE UPDATE OR INSERT ON nurse
FOR EACH ROW EXECUTE PROCEDURE chk_empl_not_doc_proc();

CREATE TRIGGER doc_employ_trigger
BEFORE UPDATE OR INSERT ON doctor
FOR EACH ROW EXECUTE PROCEDURE chk_doc_not_rec_nurse_proc();

DROP TRIGGER IF EXISTS doctor_perma_trigger ON permanent_doctor;
DROP TRIGGER IF EXISTS doctor_trainee_trigger ON trainee_doctor; 
DROP FUNCTION IF EXISTS chk_doctor_trainee_proc;
DROP FUNCTION IF EXISTS chk_doctor_perma_proc;

CREATE OR REPLACE FUNCTION chk_doctor_trainee_proc()
RETURNS TRIGGER AS 
$$
BEGIN
  IF (
    NEW.VAT_ID IN (SELECT VAT_ID FROM permanent_doctor)
  ) THEN
    RAISE EXCEPTION 'Doctor cannot be simultaneously trainee and permanent';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE FUNCTION chk_doctor_perma_proc()
RETURNS TRIGGER AS 
$$
BEGIN
  IF (
    NEW.VAT_ID IN (SELECT VAT_ID FROM trainee_doctor)
  ) THEN
    RAISE EXCEPTION 'Doctor cannot be simultaneously trainee and permanent';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER doctor_perma_trigger
BEFORE UPDATE OR INSERT ON permanent_doctor
FOR EACH ROW EXECUTE PROCEDURE chk_doctor_perma_proc();

CREATE TRIGGER doctor_trainee_trigger
BEFORE UPDATE OR INSERT ON trainee_doctor
FOR EACH ROW EXECUTE PROCEDURE chk_doctor_trainee_proc();

Running query in 'postgresql+psycopg://clinic1:***@postgres/clinic1'

++
||
++
++

2. Write triggers to ensure that different individuals (doctors or clients) cannot have the same phone number.

In [ ]:
%%sql
DROP TRIGGER IF EXISTS phone_number_trigger ON phone_number_client;
DROP TRIGGER IF EXISTS phone_number_trigger ON phone_number_employee;
DROP FUNCTION IF EXISTS chk_phone_number_proc;

CREATE OR REPLACE FUNCTION chk_phone_number_proc()
RETURNS TRIGGER AS 
$$
BEGIN
    IF EXISTS (
      SELECT 1
      FROM (
        SELECT VAT_ID, phone FROM phone_number_client
        UNION
        SELECT VAT_ID, phone FROM phone_number_employee
        WHERE VAT_ID IN (SELECT VAT_ID FROM doctor)
        ) AS all_phone_numbers
           WHERE all_phone_numbers.phone = NEW.phone AND all_phone_numbers.VAT_ID <> NEW.VAT_ID
      ) THEN
        RAISE EXCEPTION 'Phone number % already exists for a different individual', NEW.phone;
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER phone_number_trigger
BEFORE UPDATE OR INSERT ON phone_number_client
FOR EACH ROW EXECUTE PROCEDURE chk_phone_number_proc();

CREATE TRIGGER phone_number_trigger
BEFORE UPDATE OR INSERT ON phone_number_employee
FOR EACH ROW EXECUTE PROCEDURE chk_phone_number_proc();