# GG E1 Project

* ist100071 Ricardo Silva (33%)
  
* ist99892 Andre Godinho (33%)
  
* ist96147 Alice Gamboa (33%)

Prof. Alessandro Gianola

Lab Shift number: PB03

## PART I – E-R Model

#### 1. Proposed database design

### E-R Model

![E-R Model](../images/SIBD_E1.png "E-R Model")

## PART II – Relational Model

### Database Schema

#### 1. Create the tables and integrity constraints corresponding to the relational database schema obtained.

In [35]:
%load_ext sql
%sql postgresql+psycopg://clinic1:clinic1@postgres/clinic1

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection postgresql+psycopg://clinic1:clinic1@postgres/clinic1

In [37]:
%%sql

DROP TABLE IF EXISTS involves CASCADE;
DROP TABLE IF EXISTS assigns CASCADE;
DROP TABLE IF EXISTS requests CASCADE;
DROP TABLE IF EXISTS keeps CASCADE;
DROP TABLE IF EXISTS relates CASCADE;
DROP TABLE IF EXISTS prescribes CASCADE;
DROP TABLE IF EXISTS measures CASCADE;
DROP TABLE IF EXISTS results CASCADE;
DROP TABLE IF EXISTS Dental_Charting CASCADE;
DROP TABLE IF EXISTS Tooth CASCADE;
DROP TABLE IF EXISTS Procedure_ CASCADE;
DROP TABLE IF EXISTS Medication CASCADE;
DROP TABLE IF EXISTS Diagnosis CASCADE;
DROP TABLE IF EXISTS Consultation CASCADE;
DROP TABLE IF EXISTS Report CASCADE;
DROP TABLE IF EXISTS Appointment CASCADE;
DROP TABLE IF EXISTS Permanent CASCADE;
DROP TABLE IF EXISTS Trainee CASCADE;
DROP TABLE IF EXISTS Doctor CASCADE;
DROP TABLE IF EXISTS Nurse CASCADE;
DROP TABLE IF EXISTS Receptionist CASCADE;
DROP TABLE IF EXISTS Employee CASCADE;
DROP TABLE IF EXISTS Person CASCADE;
DROP TABLE IF EXISTS Client CASCADE;


CREATE TABLE Person (
  person_nif VARCHAR(20),
  person_name VARCHAR(80),
  birth_date DATE,
  phone_number VARCHAR(15),
  street VARCHAR(255),
  city VARCHAR(30),
  zip_code VARCHAR(12),
  PRIMARY KEY (person_nif),
  UNIQUE (street, city, zip_code)

  -- Every person must exist either in the table 'Client' or in the table 'Employee'
);

CREATE TABLE Client (
  client_nif VARCHAR(20),
  gender CHAR(1),
  PRIMARY KEY (client_nif),
  FOREIGN KEY(client_nif) REFERENCES Person(person_nif),
  CHECK (gender in ('M', 'F')) 
);

CREATE TABLE Employee (
  employee_nif VARCHAR(20),
  iban VARCHAR(30) NOT NULL,
  salary NUMERIC(12,4),
  UNIQUE(iban),
  PRIMARY KEY (employee_nif),
  FOREIGN KEY(employee_nif) REFERENCES Person(person_nif)
  --CHECK (extract(year FROM age(birth_date)) > 18)

  -- Every Employee must exist either in the table 'Receptionist' or in the table 'Nurse' or in the table 'Doctor'
  -- No Employee can exist at the same time in the both the table 'Receptionist' or in the table 'Nurse' or in the table 'Doctor'
);

CREATE TABLE Receptionist (
  recep_nif VARCHAR(20),
  PRIMARY KEY (recep_nif),
  FOREIGN KEY(recep_nif) REFERENCES Employee(employee_nif)
);

CREATE TABLE Nurse (
  nurse_nif VARCHAR(20),
  PRIMARY KEY (nurse_nif),
  FOREIGN KEY(nurse_nif) REFERENCES Employee(employee_nif)
);

CREATE TABLE Doctor (
  doctor_nif VARCHAR(20),
  email_address VARCHAR(254),
  biography TEXT,
  specialization VARCHAR(254),
  PRIMARY KEY (doctor_nif),
  FOREIGN KEY(doctor_nif) REFERENCES Employee(employee_nif)

  -- Every Doctor must exist either in the table 'Trainee' or in the table 'Permanent'
  -- No Doctor can exist at the same time in the both the table 'Trainee' or in the table 'Permanent'  
);

CREATE TABLE Permanent (
  perma_nif VARCHAR(20),
  since DATE,
  PRIMARY KEY (perma_nif),
  FOREIGN KEY(perma_nif) REFERENCES Doctor(doctor_nif)
);

CREATE TABLE Trainee (
  trainee_nif VARCHAR(20),
  supervises_pnif VARCHAR(20) NOT NULL,
  PRIMARY KEY (trainee_nif),
  FOREIGN KEY(trainee_nif) REFERENCES Doctor(doctor_nif),
  FOREIGN KEY(supervises_pnif) REFERENCES Permanent(perma_nif)
);

CREATE TABLE Appointment (
  ap_id SERIAL,
  ap_date TIMESTAMP,
  description TEXT,
  PRIMARY KEY (ap_id)

  -- Every Appointment must exist in the table 'requests'
  -- Every Appointment must exist in the table 'assigns'
  -- An appointment cannot be assigned to a doctor who is already allocated to that date
  -- Only appointments that go according to plan are recorded as consultations
);

CREATE TABLE Report(
  trainee_nif VARCHAR(20),
  rep_date DATE,
  text_content TEXT,
  score NUMERIC(3,1),
  writes_pnif VARCHAR(20) NOT NULL,
  PRIMARY KEY(trainee_nif, rep_date),
  FOREIGN KEY(trainee_nif) REFERENCES Trainee(trainee_nif),
  FOREIGN KEY(writes_pnif) REFERENCES Permanent(perma_nif),
  CHECK (score >= 1 AND score <= 5)
);

CREATE TABLE Consultation(
  con_id SERIAL,
  subjective TEXT,
  objective TEXT,
  assessment TEXT,
  plan_text TEXT,
  PRIMARY KEY (con_id),
  FOREIGN KEY(con_id) REFERENCES Appointment(ap_id)
  
  -- Every Consultation must exist in the table 'assists'
  -- Only appointments that go according to plan are recorded as consultations
);

CREATE TABLE Diagnosis(
  code INTEGER,
  description VARCHAR(255),
  parent_code INTEGER NOT NULL,
  PRIMARY KEY(code),
  FOREIGN KEY (parent_code) REFERENCES Diagnosis(code)

  -- Diagnosis code should respect the SNODENT standard
  -- A Diagnosis cannot be a specialization of itself
);

CREATE TABLE Medication(
  med_name VARCHAR(64),
  brand VARCHAR(255),
  PRIMARY KEY(med_name, brand)
);

CREATE TABLE Procedure_(
  proc_name VARCHAR(255),
  proc_type VARCHAR(255),
  PRIMARY KEY(proc_name)
  
  -- If "dental charting" is the procedure type, the tooth measurements may be stored
);

CREATE TABLE Dental_Charting(
  proc_name VARCHAR(255),
  PRIMARY KEY(proc_name),
  FOREIGN KEY(proc_name) REFERENCES Procedure_(proc_name)
);

CREATE TABLE Tooth(
  client_nif VARCHAR(20),
  mouth_quadrant VARCHAR(64),
  tooth_number CHAR(1),
  tooth_gum_gap NUMERIC(6,3),
  belongs_cnif VARCHAR(20) NOT NULL,
  PRIMARY KEY(client_nif, mouth_quadrant, tooth_number),
  FOREIGN KEY(client_nif) REFERENCES Client(client_nif),
  FOREIGN KEY(belongs_cnif) REFERENCES Client(client_nif)
  
  -- Tooth and gum gap is measured in millimeters
);

CREATE TABLE relates(
  sup_code INTEGER,
  sub_code INTEGER,
  PRIMARY KEY(sup_code, sub_code),
  FOREIGN KEY(sup_code) REFERENCES Diagnosis(code),
  FOREIGN KEY(sub_code) REFERENCES Diagnosis(code)
  
  -- A diagnosis cannot related to itself
);

CREATE TABLE keeps (
  nif VARCHAR(20),
  ap_id SERIAL,
  PRIMARY KEY(nif, ap_id),
  FOREIGN KEY (nif) REFERENCES Receptionist(recep_nif),
  FOREIGN KEY (ap_id) REFERENCES Appointment(ap_id)
);

CREATE TABLE requests (
  nif VARCHAR(20),
  ap_id SERIAL,	
  PRIMARY KEY(nif, ap_id),
  FOREIGN KEY (nif) REFERENCES Client(client_nif),
  FOREIGN KEY (ap_id) REFERENCES Appointment(ap_id)
);

CREATE TABLE assigns (
  nif VARCHAR(20),
  ap_id SERIAL,
  PRIMARY KEY(nif, ap_id),
  FOREIGN KEY (nif) REFERENCES Doctor(doctor_nif),
  FOREIGN KEY (ap_id) REFERENCES Appointment(ap_id)
);

CREATE TABLE involves (
  proc_name VARCHAR(80),
  con_id SERIAL,
  description TEXT,
  outcome TEXT,
  PRIMARY KEY(con_id, proc_name),
  FOREIGN KEY (con_id) REFERENCES Consultation(con_id),
  FOREIGN KEY (proc_name) REFERENCES Procedure_(proc_name)
);

CREATE TABLE results(
  diag_code INTEGER,
  con_id SERIAL,
  PRIMARY KEY(diag_code, con_id),
  FOREIGN KEY(diag_code) REFERENCES Diagnosis(code),
  FOREIGN KEY(con_id) REFERENCES Consultation(con_id)
);

CREATE TABLE prescribes(
  con_id SERIAL,
  code INTEGER,
  med_name VARCHAR(64),
  brand VARCHAR(255),
  dosage VARCHAR(20),
  regime VARCHAR(255),
  PRIMARY KEY(con_id, code, med_name, brand),
  FOREIGN KEY(code, con_id) REFERENCES results(diag_code, con_id),
  FOREIGN KEY(med_name, brand) REFERENCES Medication(med_name, brand)
);

CREATE TABLE measures(
  con_id SERIAL,
  code INTEGER,
  med_name VARCHAR(64),
  brand VARCHAR(255),
  dosage VARCHAR(20),
  regime VARCHAR(255),
  PRIMARY KEY(con_id, code, med_name, brand),
  FOREIGN KEY(code, con_id) REFERENCES results(diag_code, con_id),
  FOREIGN KEY(med_name, brand) REFERENCES Medication(med_name, brand)
);

Running query in 'postgresql+psycopg://clinic1:***@postgres/clinic1'

++
||
++
++