# Lab 07: Stored Procedures, Triggers, and Advanced Constraint Checking

## Part III - Triggers to implement Integrity Constraints

### 3. Create the Company database

1. Click the blue `New Launcher` button on the left labeled with a `+` sign.

2. In the next page, select the option Terminal in the Other section.

3. Connect to PostgreSQL using the `psql` command-line interface.

```bash
psql -h postgres -U postgres ⮐
```

4. Enter the password for the user `postgres`.

   `postgres`↵

5. Create a new unprivileged user `company`.

   ```sql
   CREATE USER company WITH PASSWORD 'company'; ⮐
   ```

6. Create database `company` and set user `company` as owner of the database.

    ```sql
    CREATE DATABASE company
    WITH
    OWNER = company
    ENCODING = 'UTF8'; ⮐
    ```

_Note:_ Set the character encoding to [UTF-8](https://en.wikipedia.org/wiki/UTF-8) explicitly.

7. Grant all privileges on the database `company` to the user `company`.

```sql
GRANT ALL ON DATABASE company TO company; ⮐
```

8. Exit the program using the command \q ⮐.

9. Connect to PostgreSQL using the `psql` command-line interface.

```bash
psql -h postgres -U company ⮐
```

10. Enter the password for the user `company`.

   `company`↵

Execute this command to load and execute the SQL instructions in company.sql and create the company example database.
Postgres outputs some messages while it executes the instruction in the file.


**\i ~/data/company_db.sql** ⮐

11. Exit the program using the command \q ⮐.

### 4. Implementing Stored Procedures and Triggers for integrity constraints

In [ ]:
%load_ext sql
%sql postgresql+psycopg://company:company@postgres/company

Write a query to return the list of workers along with the departments, when applicable. In other words make, sure that employees that do not work on any department still come out in the list.

Tip: Consider a query such as:

In [ ]:
%%sql

SELECT *
FROM employee e
LEFT OUTER JOIN (
    works_at w INNER JOIN department d ON w.did = d.did
) ON e.eid = w.eid;

a) Create a Stored Procedure that verifies the mandatory constraint that "every department must at least one employee" whenever a new department is inserted.

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION check_mandatory_worker_department_insert()
  RETURNS TRIGGER AS
$$
BEGIN
  IF NEW.did NOT IN (SELECT did FROM works_at) THEN
        RAISE EXCEPTION 'The department % must have at least one worker.', new.name;
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

b) Create a constraint trigger tg_check_department_mandatory_worker for INSERT that calls the stored procedure whenever we try to insert a new department without having a corresponding associated employee.

In [ ]:
%%sql

DROP TRIGGER IF EXISTS tg_check_mandatory_worker_department_insert 
ON department;

CREATE CONSTRAINT TRIGGER tg_check_mandatory_worker_department_insert
AFTER INSERT ON department DEFERRABLE
FOR EACH ROW EXECUTE PROCEDURE check_mandatory_worker_department_insert();

c) Now try inserting a new Human Resources department in the table department with Caroline as the manager.

In [ ]:
%%sql

INSERT INTO department VALUES (4, 'HR', 'Lisbon', 3);

In [ ]:
%%sql

SELECT * FROM department;

* What do you observe? 

    NB. Consider that now, a new department must have at least one worker associated on works_at.

* Can we associate the employee in order to then insert the HR department? Why?

d) Use a transaction with deferred constraints checking to insert the new department and associate the employee Florence as the first worker

In [ ]:
%%sql

START TRANSACTION;
SET CONSTRAINTS ALL DEFERRED;

-- inserting in department before works_at 
-- would not be possible without deferring
INSERT INTO department VALUES (4, 'HR', 'Lisbon', 3);

-- we add also a new worker the new department
INSERT INTO works_at VALUES(6, 4, '02-02-2022');

COMMIT; -- trigger will be fired here

In [ ]:
%%sql

SELECT * FROM department;

e) In your opinion what do you anticipate to be the result of removing the association of worker Florence from the works_at table?

In [ ]:
%%sql

-- remove Florence from HR
DELETE FROM works_at WHERE eid = 6;

In [ ]:
%%sql

-- remove the HR department
DELETE FROM department WHERE did = 4;

Was the behaviour different from what you anticipated? How do you explain this behaviour?

NB. Consider that, previously, Florence has been associated with the HR department to guarantee the mandatory association.

The first trigger was unable to check the constraint when data was deleted from the association works_at, thus breaking the mandatory constraint (after deleting the association with Florence, the HR department has no worker; but per the mandatory participation constraint every department must have at least one worker.)

f) Insert the HR department and associate it the worker Florence by rerunning the transaction from step d)

In [ ]:
%%sql

START TRANSACTION;
SET CONSTRAINTS ALL DEFERRED;

-- inserting in department before works_at 
-- would not be possible without deferring
INSERT INTO department VALUES (4, 'HR', 'Lisbon', 3);

-- we add also a new worker the new department
INSERT INTO works_at VALUES(6, 4, '02-02-2022');

COMMIT; -- trigger will be fired here

g) Create a stored procedure that verifies the mandatory constraint that "every department is associated to at least one employee" whenever we try to delete the last employee from a department.

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION check_mandatory_worker_works_at_delete()
  RETURNS TRIGGER AS
$$
BEGIN
  IF  EXISTS (SELECT * FROM department WHERE did = OLD.did)
      AND NOT EXISTS (SELECT * FROM works_at WHERE did = OLD.did) THEN
        RAISE EXCEPTION 'The department with did % must have at least one worker.', OLD.did;
  END IF;

  RETURN OLD;
END;
$$ LANGUAGE plpgsql;

And the corresponding constraint trigger tg_check_works_at_mandatory_delete for DELETE on the table works_at.

In [ ]:
%%sql

DROP TRIGGER IF EXISTS tg_check_mandatory_worker_works_at_delete ON works_at;

CREATE CONSTRAINT TRIGGER tg_check_mandatory_worker_works_at_delete
AFTER DELETE ON works_at DEFERRABLE
FOR EACH ROW EXECUTE PROCEDURE check_mandatory_worker_works_at_delete();

h) Try removing Florence from HR department

In [ ]:
%%sql

-- remove Florence from HR
DELETE FROM works_at WHERE eid = 6;

i) Write a transaction with deferred constraints checking to delete the HR department and disassociate the worker Florence.

In [ ]:
%%sql

START TRANSACTION;
SET CONSTRAINTS ALL DEFERRED;

-- would not be possible without deferring 
-- because it would cause the delete trigger on works_at to fire
DELETE FROM works_at WHERE eid = 6;

-- would not be possible without deferring 
-- because it would cause of Foreign Key violation
DELETE FROM department WHERE did = 4;

COMMIT; -- constraints will only be verified here

**Note**: Is the order of the DELETES important?

In [ ]:
%%sql

SELECT * FROM works_at;

j) Create a stored procedure check_manages_works_ic that verifies the integrity constraint that "Every department must be managed by a worker of that department".

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION check_manages_works_ic()
  RETURNS TRIGGER AS
$$
BEGIN
  IF EXISTS (
        SELECT *
        FROM department d
        WHERE d.mid NOT IN (
            SELECT eid
            FROM works_at w
            WHERE w.did = d.did)) THEN
        RAISE EXCEPTION 'The manager of a department must be a worker of that department.';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

Create the appropriate deferrable constraint triggers on the tables department and works_at.

In [ ]:
%%sql

DROP TRIGGER IF EXISTS tg_check_manages_works_ic_department ON department;
CREATE CONSTRAINT TRIGGER tg_check_manages_works_ic_department
AFTER INSERT OR UPDATE OR DELETE ON department DEFERRABLE
FOR EACH ROW EXECUTE PROCEDURE check_manages_works_ic();

DROP TRIGGER IF EXISTS tg_check_manages_works_ic_works_at ON works_at;
CREATE CONSTRAINT TRIGGER tg_check_manages_works_ic_works_at
AFTER INSERT OR UPDATE OR DELETE ON works_at DEFERRABLE
FOR EACH ROW EXECUTE PROCEDURE check_manages_works_ic();

k) Run again the transaction on step d) to insert the department HR with worker Florence one again. Note that Florence is not set as the manager of the department HR.

In [ ]:
%%sql

START TRANSACTION;
SET CONSTRAINTS ALL DEFERRED;

-- inserting in department before works_at 
-- would not be possible without deferring
INSERT INTO department VALUES (4, 'HR', 'Lisbon', 3);

-- we add also a new worker the new department
INSERT INTO works_at VALUES(6, 4, '02-02-2022');

COMMIT; -- trigger will be fired here

As you can observe, one of the triggers you have created above will fire and prevent you from creating a department whose manager is not a worker of that department.

Use rollback to abort the transaction:

In [ ]:
%%sql

ROLLBACK

l) Insert the HR department with Florence as the manager

In [ ]:
%%sql

START TRANSACTION;
SET CONSTRAINTS ALL DEFERRED;

-- Insert the department with Florence as manager 
-- (that does not exist yet as a worker)
INSERT INTO department VALUES (4, 'HR', 'Lisbon', 6);

-- Insert Florence as worker
INSERT INTO works_at VALUES(6, 4, '02-02-2022');

COMMIT; -- constraints will only be verified here everything is coherent

m) Finally, try to change the manager of the HR department to some other employee, or try to remove Florence from the associated workers in the works_at table.

In [ ]:
%%sql

-- Trying to make the manager to be Caroline, who is not a worker of HR, will fail
UPDATE department
SET mid = 3
WHERE did = 4;

In [ ]:
%%sql

-- Trying to remove Florence from the list of workers will fail
DELETE FROM works_at WHERE eid = 6;