# GG E3 Project

* ist100071 Ricardo Silva (33%)
  
* ist99892 Andre Godinho (33%)
  
* ist96147 Alice Gamboa (33%)

Prof. Alessandro Gianola

Lab Shift number: PB03

## PART I – Creating Views for a Dashboard

Create views over the tables in the database model, corresponding to the following relational schema.

dim_date(<u>date</u>, day, month, year)
>IC: date corresponds to a date existing in consultations

dim_client(<u>VAT</u>, gender, age)
>    VAT: FK(client)

 dim_location(<u>zip</u>, city)
 >    IC: zip corresponds to a zip code existing in clients

facts_consultations(<u>VAT, date</u>, zip, num_diagnostic_codes, num_procedures)
>    VAT: FK(dim_client)

>   date: FK(dim_date)

>   zip: FK(dim_location)

In [18]:
%load_ext sql
%sql postgresql+psycopg://clinic1:clinic1@postgres/clinic1

Connecting and switching to connection postgresql+psycopg://clinic1:clinic1@postgres/clinic1

In [19]:
%config SqlMagic.displaylimit = 30

In [22]:
%%sql

DROP VIEW IF EXISTS facts_consultations;
DROP VIEW IF EXISTS dim_date;
DROP VIEW IF EXISTS dim_client;
DROP VIEW IF EXISTS dim_location;

CREATE VIEW dim_date(date, day_, month_, year_)
AS 
SELECT date_timestamp, EXTRACT(day FROM date_timestamp), EXTRACT(month FROM date_timestamp), EXTRACT(year FROM date_timestamp)
FROM consultation;

CREATE VIEW dim_client(VAT, gender, age)
AS 
SELECT VAT_ID AS VAT, gender, EXTRACT(YEAR FROM AGE(CURRENT_DATE, birth_date)) AS age
FROM client;

CREATE VIEW dim_location(zip, city)
AS 
SELECT zip_code AS zip, city
FROM client;

CREATE VIEW facts_consultations(VAT, date, zip, num_diagnostic_codes, num_procedures)
AS 
SELECT dc.VAT AS VAT, dd.date AS date, dl.zip AS zip, COUNT(cd.ID) AS num_diagnostic_codes, COUNT(pc.name) AS num_procedures
FROM consultation c
JOIN appointment a ON c.VAT_doctor = a.VAT_doctor AND c.date_timestamp = a.date_timestamp
JOIN dim_client dc ON a.VAT_client = dc.VAT
JOIN dim_date dd ON c.date_timestamp = dd.date
JOIN client cl ON cl.VAT_ID = dc.VAT
JOIN dim_location dl ON cl.zip_code = dl.zip 
LEFT JOIN consultation_diagnostic cd ON c.VAT_doctor = cd.VAT_doctor AND c.date_timestamp = cd.date_timestamp
LEFT JOIN Procedure_in_consultation pc ON c.VAT_doctor = pc.VAT_doctor AND c.date_timestamp = pc.date_timestamp
GROUP BY dc.VAT, dd.date, dl.zip;

SELECT * FROM facts_consultations;

Running query in 'postgresql+psycopg://clinic1:***@postgres/clinic1'

13 rows affected.

+-----------+---------------------+----------+----------------------+----------------+
|    vat    |         date        |   zip    | num_diagnostic_codes | num_procedures |
+-----------+---------------------+----------+----------------------+----------------+
| 323456789 | 2023-01-15 10:00:00 | 2780-000 |          1           |       0        |
| 824456789 | 2019-11-20 15:00:00 | 5300-000 |          1           |       1        |
| 823456789 | 2019-06-20 15:00:00 | 9000-000 |          1           |       0        |
| 123456789 | 2023-01-11 11:00:00 | 1000-000 |          1           |       0        |
| 923456789 | 2019-06-10 11:00:00 | 3500-000 |          1           |       0        |
| 624456789 | 2019-11-08 15:00:00 | 4800-000 |          1           |       1        |
| 323456789 | 2023-01-20 14:30:00 | 2780-000 |          1           |       0        |
| 724456789 | 2019-11-10 15:00:00 | 2000-000 |          1           |       1        |
| 223456789 | 2023-01-12 09:30:00 | 2710-000 |          1           |       0        |
| 123456789 | 2023-01-12 12:00:00 | 1000-000 |          1           |       0        |
| 423456789 | 2023-01-21 16:00:00 | 3000-000 |          1           |       0        |
| 223456789 | 2022-11-01 14:00:00 | 2710-000 |          1           |       0        |
| 123456789 | 2023-01-10 10:00:00 | 1000-000 |          2           |       2        |
+-----------+---------------------+----------+----------------------+----------------+

## PART II – Indexes

Suggest indexes that could improve the performance of the following query:

SELECT 
> VAT,

> COUNT(*) AS num_consultations,

> SUM(num_procedures) AS total_procedures

FROM
> facts_consultations

GROUP BY
>VAT 

ORDER BY
> total_procedures;

Provide SQL instructions for implementing the most appropriate indexes. Justify your choice and provide the corresponding query plan(s).

In [26]:
%%sql

DROP INDEX IF EXISTS idx_vat;
DROP INDEX IF EXISTS idx_date;

--CREATE INDEX idx_client_VAT ON client (VAT_ID);
--CREATE INDEX idx_procedure_consultation ON procedure_in_consultation (VAT_doctor, date_timestamp);

CREATE INDEX idx_vat ON consultation(VAT_doctor);
CREATE INDEX idx_date ON consultation(date_timestamp);

EXPLAIN ANALYSE
SELECT VAT,
       COUNT(*) AS num_consultations,
       SUM(num_procedures) AS total_procedures
FROM facts_consultations
GROUP BY VAT
ORDER BY total_procedures;


--Sort (cost=13.35..13.38 rows=13 width=98) (actual time=0.266..0.273 rows=9 loops=1)

Running query in 'postgresql+psycopg://clinic1:***@postgres/clinic1'

42 rows affected.

++
||
++
++

## PART III - A Web Application Using the Database

Develop a simple Web-based application leveraging the database created and populated in Part 2 to perform the following tasks:

1. A client comes to the clinic asking for an appointment. We need to check if the client already exists in the database, and check if there is a doctor available for the desired date/time. You should therefore create Web pages to support these verifications and the search for matching clients based on different information elements: given the VAT, a (part of the) name for the client, and/or the (parts of the) address, you should display the records of matching clients. On the displayed result, include the possibility of registering a new appointment for the listed clients. Include also options for adding new clients to the database, and for listing the doctors that are available for consultations at a given date/time (you can consider that doctors can give consultations on any day, and that all consultations last for one hour, starting at exact hours between 9AM and 5PM).

2. Create a set of Web pages to support the access and registry of information associated with an appointment/consultation. Selecting (or clicking on) a given client in the results page of the previous interaction should lead to another page listing, chronologically, all previous appointments and consultations for that client. Selecting (or clicking on) an appointment/consult from this list should lead to a page presenting all information on the appointment/consult, including the SOAP notes, existing diagnostic codes, and any existing prescriptions. There should also be an option for adding information for a new consultation (i.e., add information to an appointment created to the interaction from the previous point), including the assisting nurse(s), SOAP notes, diagnostic codes, and prescriptions.

3. Create a Dashboard Web page that uses the facts_consultations View and OLAP queries.