# Lab 07: Stored Procedures, Triggers, and Advanced Constraint Checking

![Figure 1](../images/Bank%20Example%20-%20Printable.png "Bank Database")

At this point, you should already have the Bank's sample database. If you need to create the Bank database, you can do so following the instructions in Lab 1.

In [ ]:
%load_ext sql 
%sql postgresql+psycopg://bank:bank@postgres/bank

## Part I - Stored Procedures and Functions

### 1. Implement and test the following functionalities using PL/pgSQL:

(a) Write a function net_worth that returns the absolute net worth of a client, that is, the difference between (i) all the money that customer has in accounts and (ii) all the amounts client owes in loans to the bank. This function should have a parameter that identifies the customer name (whose net worth is to be obtained).

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION net_worth(c VARCHAR(80))
RETURNS NUMERIC AS
$$
DECLARE total_balance NUMERIC;
DECLARE total_debt NUMERIC;
BEGIN
    SELECT SUM(balance) INTO total_balance
    FROM account NATURAL JOIN depositor
    WHERE customer_name = c;

    IF total_balance IS NULL THEN total_balance := 0; END IF;

    SELECT SUM(amount) INTO total_debt
    FROM loan NATURAL JOIN borrower
    WHERE customer_name = c;

    IF total_debt IS NULL THEN total_debt := 0; END IF;

    RETURN total_balance - total_debt;
END;
$$ LANGUAGE plpgsql;

Test the new function you have created:

In [ ]:
%%sql

SELECT net_worth('Cook');

(b) Write a function named branch_avg_diff that returns the difference between the average balance of all accounts of two given branches. The function must have two parameters that identify the branches to compare.

(c) Using the branch_avg_diff function developed above, write an SQL query that determines the differences of account balances among all branches.

## Part II - Trigger-like behaviour

### 2. Implement a trigger with the corresponding trigger-like behavior

(a) Create a trigger tg_delete_account with the following behaviour: whenever an account is deleted from the ‘account’ table, the records in the ‘depositor’ table that refer to that account are also deleted.

Tip: Keep in mind that the depositor table associates customers with accounts.

(b) Test the trigger created above by inserting an account and a depositor;

In [ ]:
%%sql

INSERT INTO account VALUES ('B-100','Downtown', 100);
INSERT INTO depositor VALUES ('Cook','B-100');


SELECT * FROM depositor;

and then testing that after deleting the account, the corresponding depositor is also deleted:

In [ ]:
%%sql

DELETE FROM account 
WHERE account_number = 'B-100';


SELECT * FROM depositor;