# Lab 09: Indices & Optimisation I

### 1. Create the Bank Index database

1. Click the blue `New Launcher` button on the left labeled with a `+` sign.

2. In the next page, select the option Terminal in the Other section.

4. Enter the password for the user `postgres`.

   `postgres`↵

5. Create a new unprivileged user `bank`.

   ```sql
   CREATE USER bank WITH PASSWORD 'bank'; ⮐
   ```

_Note:_ The `bank` user may already exist.

6. Create database `bank_index` and set user `bank` as owner of the database.

    ```sql
    CREATE DATABASE bank_index
    WITH
    OWNER = bank
    ENCODING = 'UTF8'; ⮐
    ```

_Note:_ Set the character encoding to [UTF-8](https://en.wikipedia.org/wiki/UTF-8) explicitly.

7. Grant all privileges on the database `bank_index` to the user `bank`.

```sql
GRANT ALL ON DATABASE bank_index TO bank; ⮐
```

8. Exit the program using the command \q ⮐.

9. Connect to PostgreSQL using the `psql` command-line interface.

```bash
psql -h postgres -U bank ⮐
```

10. Enter the password for the user `bank`.

   `bank`↵

11. Connect to the `bank_index` database.

   \c `bank_index`↵

Execute this command to load and execute the SQL instructions in index_data.sql and create the bank_index example database.
Postgres outputs some messages while it executes the instruction in the file.


**\i ~/data/index_data.sql** ⮐

12. Execute this command to obtain information about the indexes of the account table.

**\d account** ⮐

Notice the existing indexes. By default, the system creates an index for a table's primary key. What kind of index is it?

### 2. Index Creation

In [2]:
%load_ext sql
%config SqlMagic.displaylimit = 30
%sql postgresql+psycopg://bank:bank@postgres/bank_index

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

1. Run the following query:

In [3]:
%%sql

EXPLAIN (ANALYZE, BUFFERS)
    SELECT * FROM account WHERE account_number='A-012345';

Running query in 'postgresql+psycopg://bank:***@postgres/bank_index'

7 rows affected.

+------------------------------------------------------------------------------------------------------------------------+
|                                                       QUERY PLAN                                                       |
+------------------------------------------------------------------------------------------------------------------------+
| Index Scan using account_pkey on account  (cost=0.41..8.43 rows=1 width=236) (actual time=0.032..0.032 rows=1 loops=1) |
|                                    Index Cond: (account_number = 'A-012345'::bpchar)                                   |
|                                                  Buffers: shared hit=4                                                 |
|                                                       Planning:                                                        |
|                                                  Buffers: shared hit=36                                                |
|                                                Planning Time: 0.120 ms                                                 |
|                                                Execution Time: 0.047 ms                                                |
+------------------------------------------------------------------------------------------------------------------------+

Note the time it takes the system to execute this command

2. Delete the primary key from the table with the command:

In [4]:
%%sql

ALTER TABLE account DROP CONSTRAINT account_pkey;

Running query in 'postgresql+psycopg://bank:***@postgres/bank_index'

++
||
++
++

3. Repeat the query and take note of the time. How do you explain this result?

In [5]:
%%sql

EXPLAIN (ANALYZE, BUFFERS)
    SELECT * FROM account WHERE account_number='A-012345';

Running query in 'postgresql+psycopg://bank:***@postgres/bank_index'

8 rows affected.

+-----------------------------------------------------------------------------------------------------+
|                                              QUERY PLAN                                             |
+-----------------------------------------------------------------------------------------------------+
| Seq Scan on account  (cost=0.00..1931.00 rows=1 width=23) (actual time=0.815..5.845 rows=1 loops=1) |
|                             Filter: (account_number = 'A-012345'::bpchar)                           |
|                                     Rows Removed by Filter: 99999                                   |
|                                        Buffers: shared hit=681                                      |
|                                              Planning:                                              |
|                                         Buffers: shared hit=14                                      |
|                                       Planning Time: 0.104 ms                                       |
|                                       Execution Time: 5.858 ms                                      |
+-----------------------------------------------------------------------------------------------------+

4. Add the primary key back with the command:

In [6]:
%%sql

ALTER TABLE account ADD PRIMARY KEY(account_number);

Running query in 'postgresql+psycopg://bank:***@postgres/bank_index'

++
||
++
++

Note the time it takes the system to execute this command. How do you explain this result?

5. Repeat the query and note the time. How do you explain the possible time difference compared to previous result?

In [11]:
%%sql

EXPLAIN (ANALYZE, BUFFERS)
    SELECT * FROM account WHERE account_number='A-012345';

Running query in 'postgresql+psycopg://bank:***@postgres/bank_index'

5 rows affected.

+-----------------------------------------------------------------------------------------------------------------------+
|                                                       QUERY PLAN                                                      |
+-----------------------------------------------------------------------------------------------------------------------+
| Index Scan using account_pkey on account  (cost=0.42..8.44 rows=1 width=23) (actual time=0.019..0.020 rows=1 loops=1) |
|                                    Index Cond: (account_number = 'A-012345'::bpchar)                                  |
|                                                  Buffers: shared hit=4                                                |
|                                                Planning Time: 0.090 ms                                                |
|                                                Execution Time: 0.034 ms                                               |
+-----------------------------------------------------------------------------------------------------------------------+