# Lab 06: SQL Queries (Part 2)

![Figure 1](../images/Bank%20Example%20-%20Printable.png "Bank Database")

The file bank.sql contains the SQL statements needed to create and fill the sample database illustrated in Figure 1.

In [1]:
%load_ext sql
%config SqlMagic.displaylimit = 30
%sql postgresql+psycopg://bank:bank@postgres/bank

## 1. Queries using IN and NOT IN

Write an SQL query to answer each of the following questions:

(a) Which clients live in cities that have bank branches?

In [2]:
%%sql

SELECT
    customer_name
FROM
    customer
WHERE
    customer_city
IN
    (SELECT branch_city FROM branch);

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

8 rows affected.

+---------------+
| customer_name |
+---------------+
|     Adams     |
|     Brown     |
|      Cook     |
|     Davis     |
|    Johnson    |
|     Lopez     |
|     Oliver    |
|     Parker    |
+---------------+

(b) What are the names and addresses of clients who have a bank account but no loans?

In [3]:
%%sql

SELECT c.customer_name, c.customer_city FROM customer c
WHERE c.customer_name IN (SELECT customer_name FROM depositor) AND c.customer_name NOT IN (SELECT customer_name FROM borrower);

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

4 rows affected.

+---------------+---------------+
| customer_name | customer_city |
+---------------+---------------+
|     Evans     |    Coimbra    |
|     Flores    |     Braga     |
|    Johnson    |    Cascais    |
|     Oliver    |     Oporto    |
+---------------+---------------+

(c)	Who are the clients who have a loan at a branch in the same city where they live?

In [4]:
%%sql

SELECT c.customer_name FROM customer c
JOIN borrower b ON b.customer_name = c.customer_name
JOIN loan l ON l.loan_number = b.loan_number
JOIN branch br ON br.branch_name = l.branch_name
WHERE c.customer_city = br.branch_city;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+---------------+
| customer_name |
+---------------+
|      Cook     |
|     Parker    |
+---------------+

(d)	Which clients have at least one bank account and a loan?

In [5]:
%%sql

SELECT c.customer_name FROM customer c
WHERE c.customer_name IN (SELECT customer_name FROM depositor INTERSECT SELECT customer_name FROM borrower)

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

3 rows affected.

+---------------+
| customer_name |
+---------------+
|    Iacocca    |
|      Cook     |
|     Brown     |
+---------------+

## 2. Simple aggregation queries

Write an SQL query to answer each of the following questions:

(a)	What is the total amount of account balances in branches of the city of Amadora?

In [8]:
%%sql

SELECT SUM(balance) AS total_balance FROM account a
JOIN branch br ON br.branch_name = a.branch_name
WHERE br.branch_city LIKE 'Amadora';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

1 rows affected.

+---------------+
| total_balance |
+---------------+
|   1400.0000   |
+---------------+

(b)	What is the maximum balance for an Amadora account?

In [10]:
%%sql

SELECT MAX(balance) AS max_balance FROM account a
JOIN branch br ON br.branch_name = a.branch_name
WHERE br.branch_city LIKE 'Amadora';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

1 rows affected.

+-------------+
| max_balance |
+-------------+
|   800.0000  |
+-------------+

(c)	How many clients live in the same city of a branch where they have an account?

In [20]:
%%sql

SELECT COUNT(DISTINCT c.customer_name) FROM customer c
JOIN depositor d ON d.customer_name = c.customer_name
JOIN account a ON a.account_number = d.account_number
JOIN branch br ON br.branch_name = a.branch_name
WHERE c.customer_city = br.branch_city;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

1 rows affected.

+-------+
| count |
+-------+
|   1   |
+-------+

(d)	How many clients have at least one bank account and no loan?

In [22]:
%%sql

SELECT COUNT(DISTINCT c.customer_name) AS num_cli FROM customer c
WHERE c.customer_name NOT IN (SELECT customer_name FROM borrower) AND c.customer_name IN (SELECT customer_name FROM depositor);

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

1 rows affected.

+---------+
| num_cli |
+---------+
|    4    |
+---------+

## 3. Queries using GROUP BY

Write an SQL query to answer each of the following questions:

(a) What is the maximum balance per city?

In [2]:
%%sql

SELECT br.branch_city, MAX(a.balance) FROM branch br
JOIN account a ON a.branch_name = br.branch_name
GROUP BY branch_city

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

4 rows affected.

+-------------+----------+
| branch_city |   max    |
+-------------+----------+
|    Lisbon   | 900.0000 |
|  Vila Real  | 650.0000 |
|   Amadora   | 800.0000 |
|   Cascais   | 750.0000 |
+-------------+----------+

(b) What is the average balance per city?

In [5]:
%%sql

SELECT br.branch_city, AVG(a.balance) FROM branch br
JOIN account a ON a.branch_name = br.branch_name
GROUP BY branch_city

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

4 rows affected.

+-------------+----------------------+
| branch_city |         avg          |
+-------------+----------------------+
|    Lisbon   | 737.5000000000000000 |
|  Vila Real  | 650.0000000000000000 |
|   Amadora   | 700.0000000000000000 |
|   Cascais   | 650.0000000000000000 |
+-------------+----------------------+

(c) What is the number of accounts per branch?

In [6]:
%%sql
SELECT br.branch_name, COUNT(*) FROM branch br
JOIN account a ON a.branch_name = br.branch_name
GROUP BY br.branch_name

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

6 rows affected.

+-------------+-------+
| branch_name | count |
+-------------+-------+
|    Uptown   |   2   |
|  Round Hill |   1   |
|  University |   1   |
|    Metro    |   1   |
|   Central   |   2   |
|   Downtown  |   2   |
+-------------+-------+

(d) What is the number of accounts on each city that has a branch?

In [7]:
%%sql
SELECT br.branch_city, COUNT(*) FROM branch br
JOIN account a ON a.branch_name = br.branch_name
GROUP BY br.branch_city

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

4 rows affected.

+-------------+-------+
| branch_city | count |
+-------------+-------+
|    Lisbon   |   4   |
|  Vila Real  |   1   |
|   Amadora   |   2   |
|   Cascais   |   2   |
+-------------+-------+

(e) What is the total balance per customer?

In [8]:
%%sql
SELECT c.customer_name, SUM(a.balance) FROM customer c
JOIN depositor d ON d.customer_name = c.customer_name
JOIN account a ON a.account_number = d.account_number
GROUP BY c.customer_name

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

7 rows affected.

+---------------+-----------+
| customer_name |    sum    |
+---------------+-----------+
|     Flores    |  800.0000 |
|    Iacocca    |  650.0000 |
|    Johnson    | 1400.0000 |
|     Evans     |  550.0000 |
|     Oliver    |  750.0000 |
|      Cook     | 1200.0000 |
|     Brown     | 1450.0000 |
+---------------+-----------+

(f) Which clients have more than one loan?

In [15]:
%%sql
SELECT * 
FROM (SELECT c.customer_name FROM customer c
      JOIN borrower b ON b.customer_name = c.customer_name
      JOIN loan l ON l.loan_number = b.loan_number
      GROUP BY c.customer_name
      HAVING COUNT(DISTINCT l.loan_number) > 1)

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+---------------+
| customer_name |
+---------------+
|     Brown     |
|    Iacocca    |
+---------------+

(g) List, alphabetically, the names of customers who have more than two bank accounts.

In [19]:
%%sql
SELECT * 
FROM (SELECT c.customer_name FROM customer c
      JOIN depositor d ON d.customer_name = c.customer_name
      JOIN account a ON a.account_number = d.account_number
      GROUP BY c.customer_name
      HAVING COUNT(DISTINCT a.account_number) >= 2)
ORDER BY customer_name ASC;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

3 rows affected.

+---------------+
| customer_name |
+---------------+
|     Brown     |
|      Cook     |
|    Johnson    |
+---------------+

## 4. Nested/Correlated Queries

Write an SQL query to answer each of the following questions:

(a) Which branches have fewer recorded assets (branch assets) than liabilities (total amount of loans)?

In [30]:
%%sql
    
SELECT loan_info.branch_name 
FROM (SELECT l.branch_name AS branch_name, SUM(l.amount) AS total_amount 
     FROM loan l
     GROUP BY l.branch_name) AS loan_info
JOIN branch br ON br.branch_name = loan_info.branch_name
WHERE total_amount > br.assets;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

+-------------+
| branch_name |
+-------------+
+-------------+

(b) Which branches have fewer real assets (sum of all balances of all accounts) than liabilities (total
amount of loans)?

In [34]:
%%sql
    
SELECT loan_info.branch_name 
FROM (SELECT l.branch_name AS branch_name, SUM(l.amount) AS total_amount 
     FROM loan l
     GROUP BY l.branch_name) AS loan_info
JOIN (SELECT a.branch_name AS branch_name, SUM(a.balance) AS real_assets 
                             FROM account a
                             GROUP BY a.branch_name) AS account_info ON account_info.branch_name = loan_info.branch_name
WHERE total_amount > real_assets;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

5 rows affected.

+-------------+
| branch_name |
+-------------+
|    Uptown   |
|    Metro    |
|  Round Hill |
|   Central   |
|   Downtown  |
+-------------+

(c) What are the branch names and the difference between the total balance of their accounts and the
total amount of their loans?

In [24]:
%%sql
SELECT b.branch_name, COALESCE(SUM(a.balance), 0) - COALESCE(SUM(l.amount), 0) AS balance_minus_loans
FROM branch b
LEFT JOIN account a ON b.branch_name = a.branch_name
LEFT JOIN loan l ON b.branch_name = l.branch_name
GROUP BY b.branch_name;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

9 rows affected.

+---------------+---------------------+
|  branch_name  | balance_minus_loans |
+---------------+---------------------+
|     Uptown    |     -16800.0000     |
|   Round Hill  |      -5200.0000     |
| Ship Terminal |          0          |
|   University  |       650.0000      |
|   Wine Celar  |          0          |
|     Metro     |      -4400.0000     |
|     Bolsa     |          0          |
|    Central    |     -19400.0000     |
|    Downtown   |     -21950.0000     |
+---------------+---------------------+

(d) For each customer, what are their names, total in loans and total in balances?

In [47]:
%%sql
SELECT c.customer_name, SUM(DISTINCT l.amount) AS total_loan, SUM(DISTINCT a.balance) AS total_balance
FROM customer c
LEFT JOIN depositor d ON c.customer_name = d.customer_name
LEFT JOIN account a ON d.account_number = a.account_number
LEFT JOIN borrower b ON c.customer_name = b.customer_name
LEFT JOIN loan l ON b.loan_number = l.loan_number
GROUP BY c.customer_name;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

15 rows affected.

+---------------+------------+---------------+
| customer_name | total_loan | total_balance |
+---------------+------------+---------------+
|     Adams     |    None    |      None     |
|     Brown     | 17000.0000 |   1450.0000   |
|      Cook     | 3000.0000  |   1200.0000   |
|     Davis     | 5000.0000  |      None     |
|     Evans     |    None    |    550.0000   |
|     Flores    |    None    |    800.0000   |
|    Gonzalez   | 1000.0000  |      None     |
|    Iacocca    | 8000.0000  |    650.0000   |
|    Johnson    |    None    |   1400.0000   |
|      King     |    None    |      None     |
|     Lopez     |    None    |      None     |
|     Martin    |    None    |      None     |
|     Nguyen    | 4000.0000  |      None     |
|     Oliver    |    None    |    750.0000   |
|     Parker    | 8000.0000  |      None     |
+---------------+------------+---------------+

(e) Who are the customers whose total of their debts (loans) is greater than the total of their assets
(accounts)?

In [55]:
%%sql
SELECT customer_name
FROM(
    SELECT c.customer_name, COALESCE(SUM(DISTINCT l.amount), 0) AS total_loan, COALESCE(SUM(DISTINCT a.balance), 0) AS total_balance
    FROM customer c
    LEFT JOIN depositor d ON c.customer_name = d.customer_name
    LEFT JOIN account a ON d.account_number = a.account_number
    LEFT JOIN borrower b ON c.customer_name = b.customer_name
    LEFT JOIN loan l ON b.loan_number = l.loan_number
    GROUP BY c.customer_name
)
WHERE total_loan > total_balance;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

7 rows affected.

+---------------+
| customer_name |
+---------------+
|     Brown     |
|      Cook     |
|     Davis     |
|    Gonzalez   |
|    Iacocca    |
|     Nguyen    |
|     Parker    |
+---------------+

## 5. Queries to determine the distinctive element

Write an SQL query to answer each of the following questions:

(a) What is the name of the customer that owes the most money to the bank (in its total loans)?

In [90]:
%%sql
WITH loan_info AS (
    SELECT customer_name, SUM(l.amount) AS total_loan
    FROM borrower b
    JOIN loan l ON b.loan_number = l.loan_number
    GROUP BY customer_name)
SELECT customer_name
FROM loan_info
WHERE total_loan = (SELECT MAX(total_loan) FROM loan_info);

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

1 rows affected.

+---------------+
| customer_name |
+---------------+
|     Brown     |
+---------------+

(b) Which branch has the most accounts?

In [91]:
%%sql
WITH BranchAccounts AS (
    SELECT branch_name, COUNT(account_number) AS total_accounts
    FROM account
    GROUP BY branch_name
)
SELECT branch_name
FROM BranchAccounts
WHERE total_accounts = (SELECT MAX(total_accounts) FROM BranchAccounts);

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

3 rows affected.

+-------------+
| branch_name |
+-------------+
|    Uptown   |
|   Central   |
|   Downtown  |
+-------------+

(c) Which branch has the highest account average balance (among all agencies)?

In [94]:
%%sql
WITH BranchAccounts AS (
    SELECT branch_name, AVG(balance) AS avg_balance
    FROM account
    GROUP BY branch_name
)
SELECT branch_name
FROM BranchAccounts
WHERE avg_balance = (SELECT MAX(avg_balance) FROM BranchAccounts);

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+-------------+
| branch_name |
+-------------+
|    Uptown   |
|  Round Hill |
+-------------+

(d) How many customers exist per branch city (considering all branches)?

In [5]:
%%sql
--TODO VOLTAR A FAZER
SELECT br.branch_city, COUNT(DISTINCT c.customer_name) AS total_customers
FROM branch br
LEFT JOIN account a ON br.branch_name = a.branch_name
LEFT JOIN depositor d ON a.account_number = d.account_number
LEFT JOIN customer c ON d.customer_name = c.customer_name
LEFT JOIN loan l ON br.branch_name = l.branch_name
LEFT JOIN borrower b ON b.loan_number = l.loan_number
GROUP BY br.branch_city;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

5 rows affected.

+-------------+-----------------+
| branch_city | total_customers |
+-------------+-----------------+
|   Amadora   |        2        |
|   Cascais   |        2        |
|    Lisbon   |        3        |
|    Oporto   |        0        |
|  Vila Real  |        1        |
+-------------+-----------------+

Closing postgresql+psycopg://bank:***@postgres/bank

(e) Which branch city has the most customers (considering all its branches)?

In [ ]:
%%sql
--TODO

(f) What is the name and address of the customer who has the greatest total balance?

In [103]:
%%sql
WITH account_info AS (
    SELECT customer_name, SUM(a.balance) AS total_balance
    FROM depositor d
    JOIN account a ON d.account_number = a.account_number
    GROUP BY customer_name)
SELECT c.customer_name, c.customer_city, c.customer_street FROM customer c
JOIN account_info ai ON ai.customer_name = c.customer_name
WHERE total_balance = (SELECT MAX(total_balance) FROM account_info);

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

1 rows affected.

+---------------+---------------+-----------------+
| customer_name | customer_city | customer_street |
+---------------+---------------+-----------------+
|     Brown     |     Oporto    |   Main Street   |
+---------------+---------------+-----------------+

## 6. Queries with UNIQUE and EXISTS

Write an SQL query to answer each of the following questions:

(a) Which accounts have only one owner (one depositor)?

In [ ]:
%%sql

(b) Which cities have a branch?

In [ ]:
%%sql

(c) Which cities have a branch with more than 1 account?

In [ ]:
%%sql

(d) Which branches have an account with more than one owner?

In [ ]:
%%sql

## 7. Queries with OUTER JOIN

Write an SQL query to answer each of the following questions:

(a) List the customer names and streets, along with their loans numbers, if they exist, of the customers
that live in Lisbon

In [ ]:
%%sql

(b) List all customer names and cities along with their highest loan, and biggest account, if they exist

In [ ]:
%%sql

## 8. Queries that test for coverage (Division)

Write an SQL query to answer each of the following questions:

(a) Who are the clients that have accounts at all branches of the bank?

In [ ]:
%%sql

(b) Who are the clients that have accounts at all branches of Lisbon?

In [ ]:
%%sql

(c) Who are the clients who have accounts at all branches in the same city where they live?

In [ ]:
%%sql