# Lab 02: SQL Queries (Part 1)

![Figure 1](../images/Bank%20Example%20-%20Printable.png "Bank Database")

The file bank.sql contains the SQL statements needed to create and fill the sample database illustrated in Figure 1.

In [2]:
%load_ext sql 
%sql postgresql+psycopg://bank:bank@postgres/bank

Write an SQL query to answer each of the questions posed below.

## 1. Filter Queries

(a) Who are the customers that live in Lisbon?

In [3]:
%%sql

SELECT customer_name FROM customer
WHERE customer_city LIKE 'Lisbon';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

3 rows affected.

+---------------+
| customer_name |
+---------------+
|     Adams     |
|      Cook     |
|     Parker    |
+---------------+

(b) Which accounts have a balance greater than 500€?

In [4]:
%%sql

SELECT account_number FROM account
WHERE balance > 500;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

8 rows affected.

+----------------+
| account_number |
+----------------+
|     A-215      |
|     A-102      |
|     A-305      |
|     A-201      |
|     A-222      |
|     A-217      |
|     A-333      |
|     A-444      |
+----------------+

(c) What would be the new account balances at Downtown branch if it offered a 27.7% bonus on the current balance of the customers?

In [7]:
%%sql

SELECT balance*1.277 AS new_balance FROM account
WHERE branch_name LIKE 'Downtown';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+--------------+
| new_balance  |
+--------------+
| 638.5000000  |
| 1085.4500000 |
+--------------+

## 2. Join Queries

(d) Who are the customers whose accounts have a balance greater than 500€?

In [9]:
%%sql

SELECT c.customer_name FROM customer c
JOIN depositor d ON d.customer_name = c.customer_name
JOIN account a ON a.account_number = d.account_number
WHERE a.balance > 500;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

8 rows affected.

+---------------+
| customer_name |
+---------------+
|     Brown     |
|      Cook     |
|     Flores    |
|    Johnson    |
|    Iacocca    |
|     Evans     |
|     Oliver    |
|     Brown     |
+---------------+

(e) In which cities do the customers with loans between 1000€ and 2000€ live?

In [10]:
%%sql

SELECT c.customer_city FROM customer c
JOIN borrower b ON b.customer_name = c.customer_name
JOIN loan l ON l.loan_number = b.loan_number
WHERE l.amount BETWEEN 1000 AND 2000;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

3 rows affected.

+---------------+
| customer_city |
+---------------+
|    Coimbra    |
|     Oporto    |
|      Faro     |
+---------------+

(f) What is the balance of all the accounts of the customer that has loan L-15?

In [16]:
%%sql 

SELECT balance FROM account a
JOIN depositor d ON d.account_number = a.account_number
JOIN borrower b ON b.customer_name = d.customer_name
WHERE b.loan_number = 'L-15';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+----------+
| balance  |
+----------+
| 700.0000 |
| 500.0000 |
+----------+

(g) On which branches do customers whose names begin with 'J' and end in 'n' have their accounts?

In [19]:
%%sql 

SELECT branch_name FROM account a
JOIN depositor d ON d.account_number = a.account_number
WHERE d.customer_name LIKE 'J%n';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+-------------+
| branch_name |
+-------------+
|   Downtown  |
|    Uptown   |
+-------------+

(h) What are the loan amounts of the customers who live cities whose names are exactly 6 characters long? (only using the __LIKE__ operator)

In [22]:
%%sql

SELECT amount FROM loan l
JOIN borrower b ON b.loan_number = l.loan_number
JOIN customer c ON b.customer_name = c.customer_name
WHERE c.customer_city LIKE '%%%%%%';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

10 rows affected.

+-----------+
|   amount  |
+-----------+
| 1000.0000 |
| 2000.0000 |
| 3000.0000 |
| 4000.0000 |
| 5000.0000 |
| 6000.0000 |
| 1000.0000 |
| 7000.0000 |
| 8000.0000 |
| 9000.0000 |
+-----------+
Truncated to displaylimit of 10.

(i) What are the loan amounts of all clients living in a city whose name has at least one space in the middle (not at the beginning nor at the end)? (using __LIKE__ and __NOT LIKE__)

In [25]:
%%sql

SELECT amount FROM loan l
JOIN borrower b ON b.loan_number = l.loan_number
JOIN customer c ON b.customer_name = c.customer_name
WHERE c.customer_city NOT LIKE ' %' AND c.customer_city NOT LIKE '% ' AND c.customer_city LIKE '% %';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

1 rows affected.

+-----------+
|   amount  |
+-----------+
| 4000.0000 |
+-----------+

(j) What are the assets of the agencies where ‘Johnson’ has an account?

In [26]:
%%sql
SELECT assets FROM branch b
JOIN account a ON a.branch_name = b.branch_name
JOIN depositor d ON d.account_number = a.account_number
WHERE d.customer_name LIKE 'Johnson';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+--------------+
|    assets    |
+--------------+
| 1900000.0000 |
| 1700000.0000 |
+--------------+

(k) Who are the customers that have a loan from an agency in the same city where they live?

In [27]:
%%sql

SELECT c.customer_name FROM customer c
JOIN borrower b ON b.customer_name = c.customer_name
JOIN loan l ON l.loan_number = b.loan_number
JOIN branch br ON l.branch_name = br.branch_name
WHERE c.customer_city = br.branch_city

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+---------------+
| customer_name |
+---------------+
|      Cook     |
|     Parker    |
+---------------+

(l) Who are the customers that live in cities that have bank branches? (using __DISTINCT__)

In [29]:
%%sql

SELECT DISTINCT c.customer_name FROM customer c
JOIN borrower b ON b.customer_name = c.customer_name
JOIN loan l ON l.loan_number = b.loan_number
JOIN branch br ON br.branch_name = l.branch_name
WHERE c.customer_city IN (SELECT branch_city FROM branch);

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

4 rows affected.

+---------------+
| customer_name |
+---------------+
|     Parker    |
|      Cook     |
|     Davis     |
|     Brown     |
+---------------+

(m) Who are the customers that have an account and a loan (using __INTERSECT__ operator)

In [30]:
%%sql

SELECT customer_name FROM depositor
INTERSECT
SELECT customer_name FROM borrower

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

3 rows affected.

+---------------+
| customer_name |
+---------------+
|    Iacocca    |
|      Cook     |
|     Brown     |
+---------------+

## 3. Advanced Queries

(n) Who are the customers who live in cities where there are no bank branches? (Tip: use __NOT IN__)

In [31]:
%%sql

SELECT DISTINCT c.customer_name FROM customer c
JOIN borrower b ON b.customer_name = c.customer_name
JOIN loan l ON l.loan_number = b.loan_number
JOIN branch br ON br.branch_name = l.branch_name
WHERE c.customer_city NOT IN (SELECT branch_city FROM branch);

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

3 rows affected.

+---------------+
| customer_name |
+---------------+
|    Gonzalez   |
|    Iacocca    |
|     Nguyen    |
+---------------+

(o) What is the total amount of account balances in branches in the city of Lisbon (‘Lisbon’)? (Tip: use __SUM__)

In [35]:
%%sql

SELECT SUM(balance) AS total_amount FROM account a
JOIN branch br ON br.branch_name = a.branch_name
WHERE br.branch_city LIKE 'Lisbon';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

1 rows affected.

+--------------+
| total_amount |
+--------------+
|  2950.0000   |
+--------------+