# Lab 11: Decision Support

![Figure 1](../images/energy.png "Esquema da base de dados de medições de consumos energeticos.")

The **energy-data-backup.sql** file contains a set of SQL instructions to create and load a
database of meter readings of power consumption in the university campus.

### 1. Create the Energy database

1. Click the blue `New Launcher` button on the left labeled with a `+` sign.

2. In the next page, select the option Terminal in the Other section.

4. Enter the password for the user `postgres`.

   `postgres`↵

5. Create a new unprivileged user `energy`.

   ```sql
   CREATE USER energy WITH PASSWORD 'energy'; ⮐
   ```

6. Create database `energy` and set user `energy` as owner of the database.

    ```sql
    CREATE DATABASE energy
    WITH
    OWNER = energy
    ENCODING = 'UTF8'; ⮐
    ```

_Note:_ Set the character encoding to [UTF-8](https://en.wikipedia.org/wiki/UTF-8) explicitly.

7. Grant all privileges on the database `energy` to the user `energy`.

```sql
GRANT ALL ON DATABASE energy TO energy; ⮐
```

8. Exit the program using the command \q ⮐.

9. Connect to PostgreSQL using the `psql` command-line interface.

```bash
psql -h postgres -U energy ⮐
```

10. Enter the password for the user `energy`.

   `energy`↵

Execute this command to load and execute the SQL instructions in energy-data-backup.sql and create the company example database.
Postgres outputs some messages while it executes the instruction in the file.


**\i ~/data/energy-data-backup.sql** ⮐

11. Exit the program using the command \q ⮐.

### 2. OLAP Queries

In [ ]:
%load_ext sql
%sql postgresql+psycopg://energy:energy@postgres/energy

1. Create a view to determine the average consumption (campus-wide) per day of the week. Which days of the week have the highest and/or lowest consumption?

2. Create a view to determine the average consumption per building and per week during the last three weeks of the year.

3. **ROLLUP** from the result of the previous question, now grouping only by _week_number_.
You can observe that consumption is falling in the last weeks of December.

4. Find out which buildings are the biggest energy consumers by calculating the average consumption per building and ordering the result.

5. **DRILL DOWN** the results of the previous question by day of the week (_week_day_name_) to determine on which day of the week do the biggest consumers consume the most.

6. **DRILL DOWN** the results of question 4 by time period (_day_period_) to understand on which periods of the day do the biggest consumers record the most energy consumption.

7. In order to analyse the distribution of the average consumption by building, by time
period and by hour, present the results of average consumption by building by
performing a **ROLLUP** on the _day_period_ and _hour_of_day_ fields. You can use the
**ROLLUP** clause or a combination of UNIONs.

8. Create a table with the results of the previous question:

In [ ]:
%%sql

DROP TABLE IF EXISTS results;

CREATE TABLE results (
    building_name VARCHAR(20),
    day_period VARCHAR(20),
    hour_of_day INTEGER,
    avg_reading DOUBLE
);

INSERT INTO results
SELECT building_name, day_period, hour_of_day, AVG(reading)
FROM <query of the previous question here>

9. Using the table results, determine the periods whose average consumption is higher
than the average consumption of all buildings.

_Tip:_ Since averages are already pre-calculated, you can use the **IS NULL** and the **IS NOT NULL** operators to get the results.

10. Using the **CUBE** operator, present a query having _building_name_, _day_period_, and _hour_of_day_ as vertices.